@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.team .team-item .details h4{
		font-size: 18px;
	}
	.team .team-item .overlay{
		padding: 20px 15px;
	}
	.team .team-item .overlay span{
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 1199px) {
	header .main-menu ul li a{
		padding: 35px 10px;
	}
	.portfolio .portfolio_item {
	    width: 32.3%;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.navbar-header{
		width: 100%;
    	text-align: center;
	}
	header .main-menu .navbar-brand{
		display: inline-block;
    	float: none;
	}
	header .main-menu ul li a{
		padding: 35px 8px;
	}

	.header-single{
	    margin-top: 150px;
	}
}
@media only screen and (max-width: 991px) {
	.about-us .about-image{
		margin-bottom: 30px;
	}
	.about-us .about-image img{
	width: 100%;
	-webkit-box-shadow: 0px 0px #000000;
	box-shadow: 0px 0px #000000;
	}
	.portfolio .portfolio_item {
	    width: 31.9%;
	}
	.pricing .pricing-item h3{
		font-size: 26px;
	}
	.pricing .pricing-item h2{
		font-size: 46px;
	}
	.contact-us .contact-submit{
		margin-bottom: 50px;
	}
	.team .team-item{
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	header .main-menu .navbar-header{
		min-height: 90px;
	}
	header .main-menu .navbar-toggle{
		margin-top: 26px;
	}
	header .main-menu .navbar-toggle .icon-bar{
		background-color: #fff;
	}
	header .main-menu .navbar-collapse{
		max-height: 220px;
	}
	header .main-menu .navbar-brand {
	    padding: 30px 15px;
	}
	header .main-menu ul li a{
		padding: 10px 15px;
	}
	header .main-menu .menu-cart > span{
		margin: 10px 15px;
	}
	header .main-menu .menu-button{
		margin: 10px 15px;
	}
	.portfolio .portfolio_item {
	    width: 100%;
	}
	.single_post .post_content{
		padding: 20px;
	}
	.single_post .post_content h3{
		font-size: 24px;
	}
	.post_comment ul li ul{
		margin-left: 60px;
	}
	.post_comment .comment_input:first-child, .post_comment .comment_input:nth-child(2){
		width: 100%;
		float: initial;
	}
	footer p{
		margin-bottom: 20px;
	}
	footer ul{
		flÿ??ExifII*ÿ?DuckyPÿ?http://ns.adobe.com/xap/1.0/<?xpacket begin="ï»? id="W5M0MpCehiHzreSzNTczkc9d"?> <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c067 79.157747, 2015/03/30-23:40:42        "> <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"> <rdf:Description rdf:about="" xmlns:xmpMM="http://ns.adobe.com/xap/1.0/mm/" xmlns:stRef="http://ns.adobe.com/xap/1.0/sType/ResourceRef#" xmlns:xmp="http://ns.adobe.com/xap/1.0/" xmpMM:DocumentID="xmp.did:3572DF40E4B511E6804DC35E2BF65C6E" xmpMM:InstanceID="xmp.iid:3572DF3FE4B511E6804DC35E2BF65C6E" xmp:CreatorTool="Adobe Photoshop CC 2015 Windows"> <xmpMM:DerivedFrom stRef:instanceID="34EC4B6CBBABB1BA82B2915A69F14C63" stRef:documentID="34EC4B6CBBABB1BA82B2915A69F14C63"/> </rdf:Description> </rdf:RDF> </x:xmpmeta> <?xpacket end="r"?>ÿ?Adobed?ÿ??		

				
	
ÿ??wÿ??		!1AQa"q??#¡±BðÁÑáRbr3??¢CS4%sƒd²cÓD5&7!1AQaq??¡±ÁÑárðBRb#3c?’ÂCSÿ??øÐ•ë?tùô?ëý´?? ù^€C??7=ûP??z÷é? õó?üíÞÔøk@¯{y?Èk@!û¨ãÛ÷Ð?£±>€]OKy??W·]|(tDÞÄ?[ßN?6????7ñ¿?(@?ô4ñÓ?/áó?øõí@
hÓÄ?kkß¨??¯S@ˆ×?¬øßå@*?å@.???Öôu‡KÛ]?Ò×ðï@-~4?F¶Ò€#Ç­t×µ?ñÒ???mZjt??oú^€ûÍ~_*uÖö??è{¯Â€ZØ^öð?þW?·mO?¯­‰¿?Ïã@~"€×ç@#ÿQ@m üho®·?¶ý???¾vòñ??q?•ïå@?…´þT>??
?ã@?1?€?Aµ­~ýèµµ??‡î?×[??éç@+ùÐCÞÇ?C½ºv?]:??JP
ÿ/*÷ñ4Ëþ??½zZ€']I¹îh{iÛÂ€F€Èßn?»þÚ²·]öPv¿ðøö?8ønÁHQÝùH?d23µx(?¤ªûT?ê¾?=ˆíá@ßú?Ó¾§©?×¾?:uïÞ€°Ò€_Òô×±?4:?šõ?×ñÔP?[i?Ç@?ÃJ_????g?(@w?Ävþª?	6?'¿ÄP
?2×Kë@?¯Æ€ËÆ?$÷ù?_]?7=?|h©èh??{??Zü¨¯ó?½lO??
Àô'??7ÇzŸJÈô?§çj?U’G??²ù??'¥úT]?45???x?Néµc­À?Þ¥$4Fn?JšK?Fô§FÑÜ Z?száÙ’CŽÃb?m-E’é9?¡À?!Iøt?2ÚãPqÏâ­¡½ìÅR¯·ÝJ¿N?…I\…±??¶Oº~œ[?»kácz’±[?KÇL?ÐÛ‹hC??ûk?uhnfXRƒoX+øWk\??;lI:?®NºXi@c?Ç@:?·î?&?ëÜZ€=uÃû?oz_OÝ@#ÓC??…ú??mý´'Ëû(hu?(?óó???¸N»Z€74Ô|(ÀP
€??WÓ¦? žÚy?ÈþëÔ?Vé@+ô¶??êhqc?ÏÃ?Ð\RÕ±'§Ì?w?®Åg?K¬í
ME²i??Z	˜Ëk&þ²l~7?;T‚ê?8ãXöZ3bs7(x€?[D??­ê½ËvÜk?6C*RžC"?©båà¿VÂGU>ùê?.©¡???RÜe-·êZž^?n4C(½­Ûqt´³•I??|xnÃ» âC(ñÞ©7ø^õYsRVY,l"B†BsÁGÔë§b]©R?WÖ­?Ú«??B??A>½¡
'Î¦?uªâÎp?I?“é$hR‚O?mqMN4–Ìn??\[ivÃýÆÀI?©ñ®É?­H·RnŸö?»þµÓ‡G?_??Ä«[?æt·N?;?½h¸øü¨u?WéÒ€ÄþÎÔÖ×??ûÐ?6éã@c?(û¨¾·ïå@e ü?
!méÔPA??¬o@?BzZ€>??þÓ@+ƒð???|JZ××J‘{ØÞÝh<ô·S@hyD¨¥#wº?Ùeë§h
“Õzkå\gR%8?×íúR6$¶Ò
?‰¶‰ùš­Øº¸Û'±?4e:ûÑÜa IP	I¹Ð(¦×·boU?õD?C&Ó¨Š¦?MrRl???ÍB?§c??qC3Pâ]}v?$!:‘c{?éÞÔ®¬_Ec?	ku
û²?W?(m?v?¯À|ên?­Ò,ÅòFS	†V¸øçK((ŒÒ‰m?KS\ _R?O@-UÁwZ+)±àfd¼¶?YÝ®FZŸs^¬ÇH
ÚO?UŠj?\hÈq?
?¦T’¦??¯¤Ðø?o$/?ƒÐ?I?¶¡AI?©¦TÑÆTóWJV¡·T¢ö±ò5?C??k?}i°Ü|ï¦?ÎçCa?=%Zz]?ã@©é@,
µý?#M:?=z;^€??.?²Ô&ãÊ€c?/@
_¯ï?¾^4þªP€?\kb5üh{EüÅ?¯ý??µº}hzijP
€Ttï@+ßç@?h??;T­R?§Æ€ÉE-¦ÅiºµPN?8ÚK¬m[?7éò Hœáq×í?D? }×T€?k(Û_…Uk"üt|‰¤¦s?ƒæ?)kŽ±í¦ÆÚ:ÓÆ??Z†\æ¼®W-?.¯yæV™I@??ñ·B?|A¹Ò×Ö¦«ÒU{?ñØ?ŸïÇHI$¨¡D6ÑR,v’»$i?ÎãRä·9c‰ÉGÐIÇLÈdãÇF;ÌOl?AÖâÞæ?HçMmU¤Ë?ÄTa°ðÛ÷?ÿ—ûd-È­{Eñ´?;M?§Æ?ƒ¢???Åð‚¶œº?'½Jxu.,(?ÿ?
‹~$’\Y)s‹^ÛüG!v¡Ii¿JÓ¢‡¸?o×W™×<?¸ìÄ¥ŒÖ
œJ.µÄ‘úšZ?n?|k±e?ê÷Ðå?Â¾„»…Ì¡Ö?!7??F??%w?xêöd%Žv9!lîmDì|?ÐÜì??XK>å¥???ûH?:T??rÇ×`?ÈãýÈ?ëJ¿ÂT4?‡_YôÓÖ¬cy+!HRÔÚºüjÄTÑÏb@$X?8`I$öò?í×A?€?»PëÛZP??ÐPßÎ€?@*°hA?Ð÷77 _^?`?5îOJ‚O_? øÐ
€??ýÔ×Â??6ï~?'?:ž´]†ã°í@s%H?G¼µ%*>{P?.>??ßªÒÞâ@ïaÖÝ‡zªîñÖYf?0l%?jZÙZB??ÛÇÃr´RS},”þ5LOOWO6¾E;"¢XaA??“uØê?ÉPð¸7T?»l8Bà¹	?!q]ÅFu`?"í÷>?"ã·jå²F‡k‚^?^o.-ˆØ????8=?N…D
	PëaûoQ??B¸VQøÉW?˜óº~¦û
[Sq?<ªÅS;´laË?}?’Ê2nÃòS¹¦‰¶?[¥úT?•¿N»²H9n4
]’TÂÀ2ë°RogUq??ñ¨:¤Md?.“OeÌ¾qçä+ÐÚ?ŒÛhJ@?>5hZ*§«d?ˆáÑb?:îZRÉDB?“cí£¯Q³rº??$ÒâSùÆGae?-M?]FžfÚÕ•×s=Ôl0?ÐØ¶ÔP“u¯rþvéRu ??Nl?ìá?FˆY? UI88ëÔ1?^)?•Ú×K??èBëRjJ?^??Îa¶J['aBÉRÙWmOæAóéQJ5#3‰PrËºT‰íz™S4À\Øß½èpÇ¶?(M?hÖÝ?n½|?N??
?@cå@"m`5??€?Õû-?ZÞ×??v?2??W???2??ïß?@"m¯Z
O?€·N?ÖÖ?&?¤v?Ú»?¿QG?ƒdH‰qVsD?é§}{W:ªJ[?‡e-?Aã«?t	=…T?—ýN??”än9›ÏÎSx???ÜRGåA?ÑÙWD)K[[lZ?‘Á??‹L·ÀÜ^Õµ$k?É°:TÝqfªYl?p3s%??Fÿ?Z2??WkÛÇ?k;???ñXÎ­Ä´V??ö@ÜPn?'P‰ôêl+ªðuÒJ??ÇÔ?Ïd?6[ßaªÂ?üªêäFká|
ñÜ£©K?ÚRHW£[ÜîWqð«ºÌ?ns>îâŒ¤?¼M?øRu·Ê‰s9gÈÅ9'"mLu©k&ÞéüÅ]íà?^¥Òˆõ´vAÉ¿õmJ}ÂE?‚HHeXžÃÆÝzTl’D«g% ïÐs?!?!?O$µYN,
?p,-?tØT&Ÿ¹xÙ¿n?$?%ÖÜ?%Åº??:)ÒIöÐ…K?Â¸l{?¤¡_TÛ¢ÏÇÿmjH??ªVrWHGW#?
?eûÑ\ÿ?	Iñe?Êâ|z´¥†Zi%z???N‹mZ_ÈÕÌÎŽÂ76?Ðß­¿¸ÔS:Ñ¡hn/×hëR"jùká@/?š÷?qåÞ€G???ýt:øÐ
?]???+x??ï@+‘¯Ý@d	?}{$ÿ[?:u?pvén? ßµ?t¿âh}mßÂ€6¿n?DÛÒ>T:‹_¸Ö€ÚÛaFæÁ#??R:³Î¥¶N„ë?ú÷?H?¥÷RÒÂ?m?u	üÇñ¨??o?QWÐ³uÎòÒ
›JOuZ£kF…´§V¯bH?³J?Jx0ÿN.5?Gè¡?T??¤Xêìåì[œZ7s6w'1?H?Aþb/¯j??ðÕT¸ñ?'?2ö?@Ú¢Îã¯å?Î²êi-ø¼9
f*Üf?ešhm©Z?`(ÛZµQ”¼ÈÙ˜âN:ÐiRÜu?óN%$¸Úmm@??®Ú??2¤äkq9V?¾¦$!@¡·q~?RU??k•´¸z4P?ìîkV¶ãî`??êPÿ06X?««?(·n­±XËâ?w*??Eo?j#@;ÚúÕ«*æg??F3ÛÁPS?ÕI<?
O¬©P?ÉKöRÿ¸ÄV½M1­¿Í´w™_*­Ý"êâ³ò¤Ã’Ó&$?ÁÁ?êqáE
HXê§}n?4ý¦ŠÉ¾8Z?h-?œ®?ôfBöºéZC~??CEmA:w$U•q?½gT‰oC3`J?O¸Ä´lØQHp£]?ò­??¥î5«³‡¡m×RªåÜvV"¦^ýVÝY&íD†Ïäq#?P¤öPÓCZ)udd??ÈËW?Ý¿¬ZºÊ?ˆÛ±h%Ñt:ƒçR8?èok\?èp×~ºP{ë@mq@cå@*P€Äé?»\|?:iz??oÿZPiýTWm?J?,?“á®¿?5¹¸×ú?5“~?WHü½?OÏ[_?ZF¤ø?íbM?·í?m??7!7³CMß¸eÚÃ‰l??ŽÔÔ÷Ü~6ÐTY4S+zCiJ?8T???î·‰®Y?E,²p?vc0OÓGjþÊ-«j½ÃƒÍ'SåT6k¢SÎNGÒE,{HImAHqüÍèV;½ÄÔQ;8C?™ü?«õaÿÔó	u?QµW‘Av/s=}ö³‡¬ÂFn[`È}Õ©«z}$ØiÞö¹ª±×©É,?}§¡1??Ô´‘±
!6¸Hê«ÕTy?:Äâ"??—EÕ·úu«¾’f¬êÎeñVÔÞÖ¤v¶©±íq\?±wo?Ÿ·¦j?)e+)µÖKßÊ©·jÙ¢õQOg~Í±"âBl¬]7ì~z[Ê¨?T×Nê¶*	e¢°óËKÛJu$zO¤õ¥üA¨}K"Äª??Û¨~???6?i'çPvlžÇdï´?}mÄ÷×b?uA?ŽÊH?º­e?µ¨ôgy<®OÍfJiKlnm?”¤?.	??M?ÝU´I?—p.|E?_ŒTÒÕ¢Róc{j>D¦ÇÈÔ?9Žó(‘Îœß(?
•y-?u?×m`?
?²®?UE{Y7þ¥<J|¤û¡Û?üÉP6PWÎ¯àdåÃS*°º=?¯ÊUmÃñ???®O?üêEfóþ??ýô?_?>4?
xPþÊ|(@*§Ìw?õÐç@>??·J?zP_?Pn76?ht'^½MÍ¬uï@#ûènýè©¿âh–¬}?	k?I Z€-JY??|¿uXöV¦Ù?mvSˆSöþƒ^õ]?Õp&¥l?bßW?³cFÔµ?ëtjš£E?¸áÌ\Æâ'´²Q.;mèBÚ]?$*?Wr¸RXfx?\«qÉÕ1?ÿ…N¬îUûXoUgÕÁ£·öÖ_#èÎ5??3a
G`7¡ÐXZæ¬?[·g&Øò?
³tØ¥C¦½Ev`ã¤¢Yy
ãiÐ[§Â¬WfkPyjrWt§ÆÃµX?N†FN?	>~?œúfjq °úRâT,o?\vOCª­9Ea?L‚ë’ñ.‚w*#škßj?;Z°æíµ???Z?ÃÈa??'?@_â{ÖwF?R­x24áSêÞþáN]??$ãr«RV?äf
†ùN/+?Iu>?·æ?vD?½U??c›ýw=>„©(7ÒÀ¨ßñ­VØÇU?*n?B??7?]ÇÄ›RëQÊ??1 ®Î:€,NŽX~Úí^??9	3"*Õ¹ØûUï»Âß°Ô…µDeW¹QèI??ƒ]úö?×Â€ÇKùw??T?éo?ï@b{@Ý¨åø?€@xP
æúwí@ŸÊ€BÃá@?€Ví@+@k|~t7={P?_?Vïã@d	>žÃS@wÃö÷Ù?\²T|;ß÷Q@e?%)Z{©A=JBO[|*-?U,œ`â¤?b’»4?½´×âj›¾œUâÇ?H8{ÎÀN€€\qÃçÛÊ??È×??v&2??/¾Ú?œÓaëÐÛöT©£l??Z}?–^?[ah??'K6ÈÚãª¯zËg?5?ŽÂ???ÝW#4>?Ûy(?Ÿ@o?øQ“«àvFt'¥¯DE±é?M€?~—©"?:!Ð­Á_‘k?z”²'cronƒ[‹x?A?-?ïð??
?bY?•¡%föX~u?I[?0[{IIý÷EéÈÙL?>ûâ”¼|Y
FåFPp*?yžµo¦Ðhk??R˜ãmì§R?“þu+`$Þ¶n`?b”¤9?ËªT;?n>®º”gÆá?#ÝB»n…[¾îÿªi,?>ñß»òºÚRÚÀÿ)±üm]G”HZ¬mrm??,Ò®?>?òý??hhç@!n??ëç@*Põþ?ß±ïû(ØùÛÄi@"<¾tóézÜßÌw??a?V¾¾>}?§öPÎú?ßÒ?Yñð*{J'm?E'?“zD?&XB_t’ä?TF?F»¯ßq:¦Ï¢µKRM‹a¥EBF?¤¡½Ý6’T?=-?UvÐºŠY)Èã”â
ÐÙºØZ?‡©j??U[Z¥o?Üø±Su}"}«wAÔüoº®[Išß2\m}œeMãáµ´„ºÞæ??‰°??µì=g?VÃeGM?:?Z?ë[QÅ¨`(…¶H $ù´é]?íÈËé?=#Uzë¬V?€€TlRlR:þÊ?ÐÉkI?	N½o\?3P7¶Õ_@GÄw?S?ÛwO~ÿ
?U9‹àén¢åW?ITN?p????o¹ÜHæðrÐÛ$¬´J‘{›xU(?kíî¶g?UÌtÙl?F‘gÓÐ„{h x
kV+J2?éq?5z.9Ur?…³Ý_õ«gX3ªñFâéZB?¯¤ûo?§P~Q(;2s??ƒb??Šµ×çDr??JUÓ±óW_ÝV"¶s?XÐà:_?Té@
PüþT"€ZŽ×?KþÚ?1?¿­€íÞ€w??:.½úP?Ã½¼m?<?{ë@/
X|´×??®Ó?; ¶ãAI»jP¶ó®2UZ?ÆÓ*G?¤CŒãq£¡K	?úh§·J¦¾›o¨õ????Bj?	${ƒÏD«_*†MËp?G??
ÒñŠÚ]e%6Bv8¦Ù?}Jßò¬ì?ZDÀ½'‘Jƒ«¿Cc?w ¦ÛÅ??]k?)?ïä{Sí´tBf!ºZi?Y(êT?¿z?É§.?ûkq??‡ÝoE,?²¥[?p„ÛáZVZ#øÙ¯C??u*D?2ëy·R?±	P'¥þtúêI®Õ´vµ÷ŠÌqm?eKhíq?Ç÷Ô¾µYÛdGhÌÅvÊbCO·k?U?*ãk€Xì·Pp?”ö?‘é$?U;A}qÉ².Q§O¥cÔ¯Rz‘EtÎ_F?M
(,¯mÏäíò5\???z½aþ¡?‡Y'HÜØy:*zlÖXe±s½a×ÔÝV©«???îÇn?¬JZI@O?\ÛË?Iäð!\?G¾õDÅær.rl2??ªC;€Z?Ä¤«¥¯cå]Âá?îk5O‘Uáð?¸³Yg§v1ÓêG?Ç{ü«€®ß]kJ3R?>fìÎ?y|b\‚ã.¥¹¸×RQ®Ò¤‚zk\??|u‡dBeŸÉê÷¦ý
?ï?*?
?‚nnºmáS*f?_?4téÚ??h@/?#öP€T??Â€"ãáûh:xPÎÔÊþ4¢¢hqnšø?þZ?ýtùP·õP???hNöøÐøò€?V©kVÓÓN©¿Î£m‰Órs?‡Øi[?HÆ[?—V?|Çæ5M???ÅÎL?a?6æÒ6?mw?ƒäErÚ¨;Ok—Ä°xîd¶Òc?¸Ì??ke%’´*Ý®¤mÒ©½M5´èL8T6ÿ??KrÿE?P"Ä|APëØš®?[Ž±©éœ^44?v­´??ŽÀB­á§Z?èFïY%8Ÿ·üP?r?¤¥%C?©ÔP;mÞÃZ²¸k?ß¸¼ûP?lþØd[.HT¤ë!?) ?ZÃÈW]q.0F¹óñªäŸdóñÙK?•·Èa?j RZ?5Iò¨?µ[q??èÓ©K??ÄåºÂ?c&Î¶âw?] ?ÇÌW:ªË]/æ]œK?VtE±È’òT6??F??áU^ð[Lr[œ]çòG?mD?ÝDõU(?•ªèuòÖ¦ÂcëJÎÆ??{ùÓ"h?¬àòç)?Èd¸¨˜vÞJuO?ªo¦§¹ð?z¶O"{$@±¼ošr™è8Tw*\?
y­k?Â­yk]Š¾•¸?ƒý®ã!R¹ç:c)-¯ZàÂz?üÒÐR¼,[wèrýkä_eÊ¹o??1†ÅÇjT?V†d?ÛÔ=**s??êImW$W[ù¬šäy/?ñ¬?S?jKR1?ÌÓ¨Ô?ð­#qJ¹î?/kLçËd[g
22€2':
Û@?7xÜÔª¥‘Éok??u	?ÿ,'?M\?SC­è…§T?x?,çñÐèzP?4??T?T???Æºuï@#Û÷P€T??&€$ëû?ùøÐŸ¶€W?‡Jþú|hIëc?Ïz…[?MÄ^Ç_;øÐÐw?JIAî£Ð|í\dèN?§qó¥Ûê}?oa]mV¿{\iøÕ
C5UÍ[9LäÊÆÄm«È–¯T™G[
?[?ãÖ¸Ô1?\Îü,·YZJ=.?ümÊêBStžÚ‘P?Ìl¹¸«É_°ë	!µHŽÚwuAmÄ­)>aWéµdÈn¦¨?g6üùÎc’£-
ÛÛÛpèüÈµ?Òz(huZ§YàB?k±AýÄæ¼?cñ¸éÑr?•EKJAëª’IåsáR¥z­îp…ìé_b–yÑ©ÜÝ??%ä\}[ä´<íÕ·q;JÂ@?­J˜ë?þ¦w¸ì“÷&sIV+?Ÿ@sËq??XK‰V?ðÖ»ÓG?gàe7÷Kãg1	ü«[>šYB??]?·Mj?q=??¸¦êQj?ÙÞ[??ø±e¸¦yÖVÓ?imwé¾?†³}.	???Óû†È²Ã-??VÀØBvŽ·Ò¯?˜»¬µàHþä`åM??&;%’v?Óö|ª}?öE]ŽUÅê|ú_?ŽwØg??ø[?@a?”¡KY:???ÓM??Éi?›Á¾ïåä}>ER£FF[S‰a°«??~B´Uc®ÈÏjf»Õ?>Õó8)22?­Û_?Z\P#¨l¾×?OëÑ¾Ó#?q?*;Î±y?Ž¿ÌY”º®Zõí\¶j?{kÑ¦u?¬sQ¢K³Rd<ä¼†ãr€E®A?QNNÙtèÈfH??pÒPÐ¿ðu°½_E??#4?h+µÛ;n-êµÇî?HâüàÛ??àjdgI
¾Þ?ñïB&’nuÓKP???|h@??=<(???TßØq@#×­üèz>ÇN?~€i@t??¯¯?G^§ã@+u·ZÛµÅµøPÚø?? è?tˆK`?pZ?ûº
?RK?YÆòV´ÚôEÀö-€„üîMWe???"??
P-%?(r?¥F???R$?6§S?¢RÙ¸7'ãPlµU¦Z?zšö_?˜Êœ°BÅÇì¬?¦üCÞüZTuÎöôqÇXJ?kíWsSÄå™ûŠ¸%<?7Ç¸ÓIj3?©t?èM¯mzU?+M?ô½uG³ÜG”â`??<t "D+?5ÐmZP³kÛR|eµlOémd?)}æÄ?·YÔ¸??:@BÇÖW¥ê
]?c®ìžñ¿·Ÿs&8§W†Å`Øp's?%ç½?”XnéñÖ§\7f|½Þ%Æ|‹×Åò?ÝVw8s*)O¥¦CÚJu?V??Ei?N2`¾e—åPN?pÖèÚ¥??'Æþ$VŒF~? uÍGD¨N$??CR?Q‚Ñb??e??ð¹(©KfDp•o	E’±b-ÛCÖ²[?Êñ½¥¼Ï?p> ¹ˆçO<U??Q?·evKíÛ?+ßQoSl?p?9.UmI^âc?:úÝ6¹øSüK?ûü<ùwÅ}°â?‘Ï}ÜÞQ?n˜­ÎIšáØÊJ­kh?m+—ÃÒÔ??¦ËCçï FMN9"{¥RžPE“{n)B???f«Ý·U½õž¶×ãqWÓc%?ŒÑºU?Ò£áá?àâ?=-¿q`j??§Â¥[u??‹~Q?{?ýÕ2ãÐÿ]
€]hûü(@
P
€T&€ý´òµ³Ë ízóð?¼¼­@ãÔm—ož´ñ¿ã@@# øPõò=E5êE?4]?€ÜÑQq6?7éj¹µn%cDúGÃAQdÐé?(tAaAÃã?mE–×‰×?ÛSL‡Û÷Z@?7 ??áÖ?‹H'ŠÐ??Öî=sZ³ì??B”¢‘§}{Ö[ÛX6Ò³YC?.€?:?¿]?4Ëq¨g´ð_nT%?,‹ßÁ@>ª©f™fJ??&·Ð?©J?ûxÖÚ?ç^L?(?¾Þ?øéÞ´-w3]>Ëp¡m¤Xh¥ïRTFw{??ÚI	HèS ñ?*ëI
?2?ƒÐ?Ån?P?S?`?§¢“q?=»uëWUA]Û°?ŸÒ]?i?$_§Ê¦Ñ]¥y?ãd??Úl%~??4ïYrÂrmÆÝ’PMqòÙv3N) ?GExVQ??ÓÐèzZJàRS¨½ïòñ®ÚÚ?<­÷ÂZ§d¸ô\?v|?7!rTRÓAIÿ"?ñ¯;¸³?žÏVOsÀ¨¸·ÖúH{êÎò|V³ÓåVvúØ§¼qO‰Z47??Rlz?ëZ?9jÇìl@?A	pzV?ˆõvÖÕËiQµå!?iM©E?FÕÞ?ÈÐÞ¦?·ÈkÉGAq?€?©j?WB?mcV"?#!µÍº\×HP~?P
€F€T?jz[JoÛÊ€ØA???@>w?¾¶4??º÷ï­/¥»?Så~?·Ë?öñ?V°üÝÏkP­¯?$üt?ZA
m?åôHþ¿ì¨6M¬¡?M”\EÇË?T[Ôµ-??á°T??îT~4²Ð^§lgV???¿¨Ü½ªRn…§vão
º_¹¨ÙIe\(?>#?QeÕo–ÂYë¨
IøØØÕh«±¯·Ë×3?q?ý\h?î©Q7ék?edKSu????F?Øxh|ën=?*–K?·P?¨rý|­W+”Zƒ¢%?IYÐôëñ?ùë?®o?Ã±LÈH2? ¶U?€ÃÄ??]¬¿ek½t\YYpXÜËš¡\???6_ãqÔJZ?lëêèV±ÛÂ¨ÅK[ÜÞ??1¯§Z?wq×X,ÈQ/2?>Ö­?­O?4'(?Á\ežÀ?ÜUîº?qMó|#Y?°oÈu?6?÷ÚÑm…¦éPñÚ@?+V,ÕêÐôñ^5[•·?/-?Í\K?ÌA=:3-¦è=‚ÓcY)™ã}6??l²®ªoÈ½ÆA§[C‰ZtQ7­]RaúmnUÜ÷Ç?—Ò¯n\uïB‡E£ºHýÕFjõjmí²th?~}?ü®<hn\¹âÚZá´\??Í{??W?(??e8‚Pµl+?”Øv&??«DÎÆä¹®ToK€o
,nJ?,¤¨4?:Š¬’êP?-kq
ÉHy(=Rt?mN?äÜ?7?ûÒ?Xâ%:?©¦B?ùßãR+G?¼h@vþºP???áá@/.?ØHøxPþî?ë}~ñ°?]:?ÈP
ã©êhzÚhåÚ€t?€T=@-Ëv?72T?·@N?íáFu(%³î^?¨òñ¨Òú?€ú¿2Üg?üMF$²z`?ÂP?²­? !Ïð?T«ÀÛ]k©ÎŒYB•±Ùµ?N?òÚ°W[(^Çå­W??g_ÛÙ?+úu?“ýžÊREÇî®ç¬ÖyÖÑ?ž¾á²?ðh??s­íò¯??ºzA?7 -ímkµ­aÒ÷ëû*t?-‹¨?ÈÙ	P[?7ÛCV?}C9W?q‘^?}(:‚t?"¨Éì?{e?.€Èsì»?>êß?öQ]7ÞGK?
?}LŸq›¡}Ä¯÷`}½ÉÏã?^ÆÅYTØAuM¶¢N?ÆÂäizº·?2à®D?S…ûÝÇ%M}x???ÛdógÁm,%CÏJ’î-W??Ùh?¹X?>?4?·¹[•etõb?[”¾Å§±Gs/½¸XshH?EÿÞpÞÀ6Úu žæÕE²ÚïCRíëM?}ÉÁ??Î[»Y?0u?wûbÝHÃZªÉ?Ø­u\?B£¢4×I[	JVƒ­?=H=ªºÝÓBÛÑdSÄ±¥ò¶ÔÚÔµìz¤Ú¦ò?b???0rœ»
?????åY?ŠS[ûEío™å÷Ö??xæÖ?¸ÈY
??{#kƒ·[§J“Ò??2>?ú-_??á@ö¹©Wr?CnIÀ°Ú¶íJIK_“z²ºÝÉÆ·T?)W+nz??][‘oAœõ:X??¬zZ€T??(a?|(@*w?ý¾??»Ðv|???ðèhaÖ÷·Q@c@*_KP
??(???4lp«¸H?¡æ;y?$oJ=?,5µ¼????ÄêtëÓJlÞÌ???[?½·?j-IÕh`Â×Á?`
=I:$_?«³eôKa‘ïw
šÆ?*J"Nmâ²,JJ†â|e}?‹{.?íX@G˜Ã??\lø¥_õ¯1ì{l?ré¿CêAXƒqs?J?y'YC»ä{M€JÔNÑoq·±ua•ÓÍNäÙHø¨{ÐË?êd+?Óöv?v÷Ðög
Áã?˜Ø?ý­„¼¾·Wss^??¹Ìïb¡û¯À–pdñ£lÆA
N¾±ýUVZ?jí²õV??$?Räuèê’R?:ÙbÇZ?6g??b;L­Ô&ÈQ?üD?‡Ó—©ßª??KÉX?{¬¡äºûë?
Çí«­eZ?­[·Sà{~tÌt\˜ÙÈC‘ßŽ[y
ÄZ??õw”yA?4ºÂ??6ÊÈÔ´ê¶?ÊàŠ¢ÊM”¾?? !´¹¹O­?{??’Ç‡¹fYî_žÊ¥^äD???±úiøßi5íâ¯M>s6N?Ã®"s??½î%Ä»?,H?¨Ùj[KhuÍSrYd?(r?Eö¡dútÿ
¨¢V????D(nJÕ¨]ÏõŽõr|Lö\5] ìÓ~Õ¤›ÞÃZêÜ‹ØãPmaZ¤ôW?qàEH£n?P€;Üø?P€T?Ãð??@
3ø[?µð??ÿe;?@g?:?€®¿:P
€ .OA@mVÖÉïtõPü©???ê¼???é§Âõ?TxC†ÞZ?ŒKi=•{<…W:–¥hPÔÜ?mH¬Ðn?‚@½¾z~?¥·ÖÅ?-)?>’A¸M?Ú¸?N	þ× ??õ¨÷QoµÔ?Zo??;?Z?×þ­_>G¤þßå?p?•¨®f5'9Ëur7?:‹§i¬Y©ÓvoíïÕEéè\†ë†Ë??×ãT?Ži??cÜr+2ÚT?új$øØ›×??ç~äBûu&#Žãô½ÊŒ¤mJR?R?õÖ®Å‰ßn3æ®4º§RÄÆ}Õç?ÐäbñÌŒ|?j#ÉP??PE…Î?MÙ­?+jÔé#¶[˜ý?‘{?nL?+(mD•¤??­éÔö{–â?Õê¬G™_O—Í?g¥Î?Z¿Ô<ÞÕ†Ç?Ñj‹E??M?(q2?$ÿ(?IrÿºR¶íEºÜ§u4æFÕéÝA2ãX_¹³ÛÆˆQ#báå$?®¥?\«],“åN”ö#{¬sÔÖŠ`?áæy?:?>vR?%N?V	+p?/}Ûo??êÓvF<¹¬ÚTz²äã|C1?ˆÅ?g”DÌ¢??ZtY?VàÖßJ??6xf#=":¬üF~?&?7?åµ7W•O>?QÜfé£·¡?]6C)??mIø×°xKBO‰[ªQ
«J?«Îû¿÷Eê«—ãzþ?­AFÅ¥??kxƒU?÷ô/n?¾÷r3?¾Ûì¡?Ù}?)].TCÞº?mPÈ¥A
?ð©1$“rn{?ú^€V#^??	??(@*P
€_Õ@gûM<~4§À?_Ëã@ñë@‡M(å{x?=(@{§ª??Úv???‡j?ZC?	o­»å\dªLPÂ]n(t?q²«uÜ¢~UKp?O?ßL¯¦)*[ßì÷¹[J°¥-`?ˆî¸Óƒõ[ôm=R;|?ëÜ??lìü»Ö—ú_qïð?[‹l7??3!¥ìu?6âM?<?uªM&?4?‡Ú¾R!r	X·¿K??`Q-H¸é?o*?’§‘»µÉîkƒûÏ^aÀr)Ž¯PMÒA?~ÚÀz•áñÌfp?=$]ô¶¿m©¸ºu©Ö³¡UïÒ?äßhq|??¤ÂÊÇHV/#ÿ?·D«ü‹è¡W`”åÉzÝE??Ìóo??,¬S3©Ñ$?Ní©i?SJ;[R’Mû^Æ´Þªúì?ø­ƒÛ3[lÏkqÿ?öÖO%È·??va6?“dÒZbQ+*u„ì-ìÒ?>¶ÐT¨ÔËÜ?¶º§JzL??ö×90?ÏÁ?>FCrV?µèT??)¥_Ð«Xë]N•MÊ³]«[V’^„s›ûa??á??¯æªk	J\B¶©o?h>ª©ZUh_?lÍupIþJáÌ|67í×{"¼{ÄMÛTX­ÆaIii*QS?…X:‹éGE	lu+;;?s{ßd¸LŽG™ÌýÒåèSógKTÜlWI!;Én3`+[ tRÐ«?*+?šïO
?°Ø?orWÌH¾Â\=..ÞdØV8‰g/n¨©óÏ?&w-šÇaK„ý6ì¦Xú©‰ý6?†Õ…»[;JBv|L}öIj?E†V¡¹"ÖW~–ïZ?K1???ßl¥´ƒk`²|J­î]]?Òç¿ïàªê·A?<,?DêÍ?È}?¨Ê‰õ·rP®Û’|jUq??
®Y?Z}Áùw?SEliºTü¥=¿uêD
^}(}?éÛ[?çjk?_?T???@f<m?õÐ
?>×ã@/uï@@ß@
h?? [²ºü¼h·\ë¨°IùPñ·?*?”gQ2?í@EŠÉRÏ§K¦×	ò±E–¦šµÔ[öä?·d?]??ÓÃ??ªc~y‡Î^cÊI?:Z?ôýÕÚ=ä^?¶íÐ¦?IY?¾¦U#t?ÜN?O??*’dXÿŠvÏ¡(;\
2A·«K€?~"«º-Æõ=ËÀ??|y.)&RlÜ¡kz?$yÛñ?Õég±W(¶pòLM?èÍL?õN?ítd2×ª?ñS"?Xt??æI>7½^”XÍ[ÍHG3Å`y±ÐyVS:;¾þ'0ãHrËü€,+BÑ[´µ\?=?»d­XÝråâ?òÏøõ>
?q?;,¥ù?dÄm+?khzÐ|Q½EõWV?võn*õä?|‡Ùé­®s?q8ó¶K??>Ö±Iýõ?mÙY°¾ÏÈ?¶XœÜ?Èq?†·??HëRÿ"x§akq/n5ö¡ìj"ÍixÖ\l#4?·Í·\?éá¥W.Îv=,…j½Úøs??5¿£šìd–±ñN?¶Ð?m*vÀTmbžúÊÖI¾êeãñ??)?æïÈå‘Ü?Ÿy`øo;Só®5¢¯Î¥¦Ö»Ù.?9?ì¼Ãy?JÈ¬?‚E€øW¥Zª¤?Ëµ?o‰µ?–ÒtÝ¥­ÔøWCÃO?mµ\%)m>?äémin2?•Ù]=Z
nÎ­??2=‡V?†N?pßi>WÒõÛ©G1??í¼±·hM?¨ÚA7?$B??ú¿Å©ø÷?1·]zP^ÿÒÔ·n?6óÐ?€Cþ¢€=4?PËÆ€T?=­ø?ësÜÐtëÖ€ÿ:jE?ûèn¿¾€^]?@/?@¹·ùmz???£{ëoÙ\’IÉJIE?´w·AC?=j%n??isb-ûj?GXòÚ{r_V?ŸWA?GkZ÷¨Z°X?\ªPüWÜ¸SíF?À­F???¹mõ^%t??$£hAIH??t??gKÜê@O??hy?H,<?3'hOÃ[~SHg¤ø–Dâ¤1-‚~–PH?ßEj•`¾»žµD?W§R ¥4R???íT¦N???cK™I??ÇÃ¸­iÊFímÙÈ?m<Épo#?Áü@ù×^Å¸n?@šËæ¸?.;¿Q?%+$j?sáqj‚ÊêzÔÉL?>ÿû±?^-Þ¢°äT~?I·ZŸùK?ûjL«¿VrH?¶àŒf3·ìM·mI@ô¤_oí®>ëHH,Õú¬ß??æuåH?XØë²ÌUX¸ç?N¾fªvv-¿uZ¨¡0ÃÀ(Ç´ÁO?.??ÒHI?šæ?–úÉåùAÎÑ–ä+?dnf*fII¸Lvu	??€‚kN
??YíÑEN/Vy@(½þB?Ž¶Ž÷I°Ýéø?¸Î?¦Ñ?K›mÒÝ?‡¥Â~D6ÌtïiJ?šè­MÇÆ¸¬?KkA¹¶\?ŠV•¶¯Ô??ÔØö©6Béiq[RÔ¶ÝRÔÐV†Û­r<íRDY?ðßáò¡À{P
€VÔÐÖ½‰Òç½Hë~½è~Ó¨ëÚ€V?·î?°u×§jxZ€_??{P€ÊýíjvÓK?Ÿú?€'?<h?Z?‘ap7+?-)C	¹±?|t??âC??îU?âoøPáÜ‹©ÆÛJ,
n?ë{?ï¡$oJ}?6e:ÞãÓqU?p–ìr?¶fãÙ
ÞÌ¶_P¾Õ–Õûª	J,µ¡¡ñËf¡Ò??«zíÕW??e@±Ã+i
?ç¤( ~ÊÑÀÆÖ£äX?X$¦Ö ©WKZ«³.¥K?9x­¶,¢Ð°ùj+E©èâr º??
ÿ`?ÿ„¨k*?.‚Ú?ŒÃmÌD???Øë`~5e-hž¥?M?3?EöZC>ïZÕz”£ÏWúo????1YZõO?B?ó®}9/úíl9±Â?B?¹ÕTJw‘±Ö¤?A÷O??–T*ZAÜSm¤ë¥q?U?r	?:?"%²¢Su?N½õ?T?Õ¶¦J÷îG+cqæ²R>¢Êz40Få©#?ý?'ÈQÕ¸?”Ö¶{#??ósæä':dOžê?ñî??ð­?¨GfîÛ{‡ùsåI	I!HÝñ®É?t7?*[~¥¤vZãgRƒ¡-Âò5qr×cá`,Æ¹?_Ëñ%G$!NI’ÏÔÁR?vÉ±I"Öª?p½KSpÖd6ÜìÂv? ‹ÇaJÿºi_ÄÑI?	¾¾5Z±sÆUùÌÜ}¾¶ÐÒ?nu?Çé?-{k¥][??.qán{EieË_bôù?eO¨§ à??I?R½Ytÿ¶±??u9"êÑÆA?ºp?õ¶¶ó?çD1b?P	3Ú÷?¯·} ü?Ää•«	x?iûk¤Lm­Ç???P§N??¸ì4ÐP
€å~?ÐÛ?€¿j‹è:øÐß[‹Z€ÇúZ€ën?vGV?QÿãiUlpN2zÒÖ? Ø¥(?r+ŽÈŸÓ±¡Ä©²°?)p¶Û?Þu?\D°}ÐØ¬¤©c¡Q±UºØv?*m¶c§{h.¼¤«sîè:? tÖ¹?¡½¼s??È÷??Ý`Þ?:ãruU¦i- ÂD??bÒA??×x?âsoy+FÂl“è·t?&ÇìNÉ®?MÅÀ\?A­çQw‚t?±Ã#ˆùeÅi%½¨N?]?ÔÕe‘©6?#iU?iO?ÙTd5âe?[Zi$?—äzU?EyMíJ®PA¡IñIíD?^_o9º±?{? mKŠè|?_?K×c.|
ëMËåYAb-°æ–ÒâúêkoR‰FE½µÌÀCj²ý?9½¬<¼ë?X%?=“÷?Çst›\?[?,pBr?éyvBU?N=%kHKhH??5&ªµ??Ñó³ï?W4?¸Î??Ýô(lm??µK
s&|ð«?
ÉuÅ¤[b?ÚÚkò­LÅQ?$-?q?þSýõ[pËRm????ÚÒO:“dR?&??MÚuo}J{m±ùu®î?-??[˜§±ï?ßma?

%EGmï¨©ÈäÓ‰AMân?FÍ€—Ør?ÜIH+Øµ?¤Ú?^?udSp?‰¸Bgæðáæ8?#?q?¨T??[+JÐâoVÒÉh?ËGo—qrO?wErgÛþGlu?.??^o?äH©}5½YWÖ{^°y?}³ç<¤ÊŽÊV?G?^äS»¢?7F¾v>4i×u«ee?ìÜcñÕ??Š¿È½‡ÒÂ«t"¦¬™]¨ÑÁì¬Ü!??H:?¢`§HØì†WV'&ð³m§ª­~ª·@*.??=v\ÍüŽsŠß?1–Û?ŒÞ¾Üv?~äõQ??2[©é??€øÐ¿KPÚÖ??_ˆí@c@f,u?ÃÂ€[?6¸ø?¿º€"âôIJ–@HÜ{'?6?´¡¦Ô?? ÛÄ
Þ5Å¾˜ñã¹/ «lŽÒêÁòBA?2*-’U‚Ô?h¾á?R?a1?CLg2?°V?jT?²mzê©ÛZ7=U?ˆ¸(??S?3+????@€?ñ«¿Çæe}æº"÷w?Œqy?—¢7?Ô©IKÞ÷ÔÂ.¥·ÂJ?ˆJ?ôìj?ÔÑ\õÉÆnöÃs“qy8èì?8?'(»¶‰øÙ©?Hh_Ô¤?4½SUÕÄ¾öTÜ×?Ùã¸êžjJ’rnìF?È]Ê¬P€?Ðú­ó?´N¶­µE;??Ò¦¬°·Ã€ÝÅ‚@
?tñ¨??°GqøÌÂi#crœt¾z$-)MÉð?$?Jƒ·ŠnT?ðR?‚ã??¯ë&¸Ù:Ôµ^°ñ	B—cò•súiüÅà^ÂÃýF ]?äx?F
çB„¼¤EOwd¼çé¥:
E¨q­Q#??øõ_…ûUf??.ÀÜ€½À?mQbáâ5÷x$¿?ˆc?S@$$jE?ôî+²ÎA*Çó	¸Ñ?7ÚE­ì½r?WöÔ«v‰¥W?åý?)~\dƒÕJx~?d?†Ó?;(Þ¼?žÉx’t?’kV4æS\ÓîC.?v=??lšòAAq'R??¹©U7??Ú§›s—uO„Û?ÙJ?ŸÍ?A[èyyœü?&yæß!±ìzI?rt=*weX?¯Æ??Éâ0v¬Åu3Ô«ÔÝ???–i¥T!?Åec?‡YõH÷®Ú†Ð¯S‡Ê?'¨t„@?h€Æà¯n<ÐÔ?‰÷A	?ÓWN¦höüK7‡c?´C%N&L?Ìp?ºQsµv#N•Mœ³M?ýÅ?Y<<wâñÒ?
;e ¤·?â[Y?(ÞöMÏzÕE+cÌÉw[|?˜p??~#‰T<?€–Ä7Yˆd0¡u%´¨{.ëoÓp
??{"8;¥].äªbMlJ??Þ_$ÂT??¬eÞêmèEm?'K?Û¦•GKZAµÚT?™É?ÏÄ?3ÊcY‡Ä?¢\8¨Y?¨²?Óp&Ý«µëärßMk0¹¡??•òM?Àñ?‘Q?åîÉö'ª×…¡?H?okk?]?(MØ¡ùÇØï?,95?yÈÑÒ\VSÿp?AS Xy$ÔmŠõÜ²™é}k?æ¬„é?¤L–·D??*?,~UÚÕ"»Ù½ØÕ{Ÿó·ò?1±ém{?åo
P?T:?øÐn?I4¸þhz_??PÃÀv?qXŒ¦vt|^+1????uZ?=?µ~??Ï¢6G?MØm?‹v?v?4o?¹ó«kŠw)ÉÜ%?¯Å~Ýñ~'?~?ùb??ÿêÜêÏÍ_\iïÜY?r.+ºZS!??nt l0rßE`õIRÀBˆ·«iîk–ÇèOvôâµ^\QG%W?r?rrPe9!?ÚÞ’Ô??ËAN–Ýl¥Á?ÖÀéUõtî[ôÖMj ª?äW7y¯µOAÇâHíÔc£IœûmJöÛPq?Ü¶ÀJlJ??rût-í°EÜ½QZ??¼øˆQ\?+ÄãDS8?‚ËŸN.ØrK ¬?j[ëÐVZhÑ».µobÿç¼jd>àv{X °¤ÇÄ`
6?6mÇe>óÇ]Iµ_•{L¾I?æÏýÌÅã1Ra¬Ê(Rc?J$?­{‰±R—qY8Áé75?
ˆÐx?q?äýc¨R5
ímöþ#Qâu(¨Ã…ú?&?V¢lÉVƒªê{éØT??(,??4?y?Èè?çWm???ù²]÷ë
+Îp±ßJOÓá?"?[*>àH?]t?‚ÊõêDS?éÖ?
Ëc}6'Vm²ý…µ·Â ö&v°µ²ý?7?¿ÌT"??Tmb?0?¦L„¸’N?Wr(u?@ÖÚ“ùºþ?@ÁkŸá?J™Áªym?lRÓ·bjuRUvV¹vCx²AºÝ?|OrkU70å^?JÂRw(?|*?c?735—ã:¤ºÒ¬†ÒtQµº|+Žª	Öí2?Íý?¿û?€ÌYS]?û·?3aU*?¡ì[OCÆG-Ô°%K:X ]I?Ä¥?äÁ.„ÒC???LDÿØÅu1?}¡O+R«ø^ÀW,£s´·TÆÈúW?ä¼<)j+J?8YqIR€”k¡¯C·SY<NíÅ ±R?¶Ê“î²Ò½­?7?ê­+CçDÌO
Ï¶×óœ\)öHö~µ¢?ÿ¡Áe
4ÑUÖª???6LâóBS?”G?Úö???-£M?2[H?©DW>O?ÍýKâ´Ø—¤ñïjöÕÇS!aâeÃÒðÛ?EË·wJÉ¸C?N•Ï—G§ÝêuÅõZùoñ_î?¼ÔLšO?´¸??A'±úi???J¼ªR¸èENë_¿â?î_?¶¼?©Ü??æo~F?ÝJK8‘ú??	=ª»â®ïCF.âûn|øû?“ý?œÜVÜËqid?®£ÚÊ6ÏgdBJJ???¨êl­Õ¶àP·Ü4 ¤êèoQ$aåÜu?õ½5íå@
(¥üz"|M?@?T=h?ÅóœÏ=q?^["½­'?@üîº¯áB?…v$aþÙ}âk1ßC?¥YW™i~@àÝ&[›AY?*7R‘¥«e1tžn^áßN¨ãp?U’ÊJ??þüùJ_µ¼I??Y¢Õ™åÙÂ?aÄÅa?<ZÓx?’HF2)×ó?¾âm¨²Sz_‡©?a½y-B9?ÿ–ãæcöo›BÊÇr4äcÔÞV?:ŽmU?J?îæþÄXŸÓs¥~Ö@0|o”c2lN\œw
\?æ‘ø???&?.lÄ«sjMÒ¥?n·j­U§Ë?›d?DñS?rÿ’Ü?†ä?%dT€±È·\??B?)~H})¥e?“ÐÝÙeµëî[lCp_q!????ãxÅa²”®3?M)$¡²¤??L?SQÌ¸9¶w”ÈãS³°r­F?M?Þl-m¾û¨l?€.UÐ\?¬õàWLt?Ôò¾Y¹\?$†|tÊWÔd•mXe6q?¡Ðv¨¢ç®ƒþO6jN<+ÞS0H??YCÀm$W?O¶Ã)ÞËÀ©ä¤ŸK`%?n??%?J–Ú>?Ú¤¿½ Sm?R…þµvø¦?Þ÷8?W?ˆÎ…Î1<œ²çò??Ë^?•m?£¡>5??e¿õY±G&S1"ìBJ?:_Ìw?žÒD?lS­×?ÇÄ?:h?b£¸›j*.¤ªûT?‡^?3¾ò”£s?ÔøPr?V7+hÔÞ¬@nS@-{ÖºqŒÙ$?l
‡°Ò­¦åW ?²Ã?já}¾¯¦æL??orí¹jO???«Ì?ØI‹ú«V?h„§µü¿®¸Î?<3LÏÊG?{"{žä?6Rû“kR?’Æº­ÿžËTÇÄ??Y”¿<$ÜÄŽ°
[ÿQM¯áTãZËÙ3^JÝýÆX??G?Chê¥ w7Ò£g$ñ×?T¾ÒZGÅ¢ûÒàJýäƒp\@;u×B-^—i???²Ìu6úÚ76J? ÚÆÝ~5?2FL?‚JBI×hÖÂ«é/?$¤ã¢är*RÖÖ>#òI$X?©dAð®?Šµf??ÈÎ?ÆpN??'LÌäG¸ÛÒf>”·?a[ŠRk?ÚixÌªÓq«·ÜJÞÅ[y¬[íášyaÉx•°??W???ÊHíSŽ_¡B´½uñãêTP•ÊafØ¿hæ~ªK|g€ä][?\vÓee1y%?¸ø7Ÿ²?M?Rª¥)í¯.ÈÕn—Y??Á¯Ä±q¸\3¸Ç??š{$??‘H3Öë~?y
ÿkaÓØ?_©²µMJ(y,?#n_?ówþF?o†IwœqH?¾Aëæñmjœl‡N‹HìÓ?Iò¬?ÒÏGNµâyKú[µVXbR{k¯Ê€?;tï@ãÖ€ZP¿î???n:???
¶§qA
6u-J6JSæI?>??´m}½ã_U?Ùæ<??”³¬fÈº"¤ö¨øëWã§7s~??¸ìáã±+#>2„ÉJ&,t(?saÜ¥+?ž£RmZ¥ð<?¯VŠ~$
äJÉñ¹±K?*?y~M„Ê?/»s?~?Õí?…»Þ©WÞiuI9?-?$?Ä±-??‘e?ÝÌfœúçõ×jƒci BEK¥o¹[ÊÚ…¢ðÐ{?€qâµ©±¦âM?á]d€?´ôHNÄ§ôí¡ê‡ÈTYbØª~äqÖóX?ÂFñ¼ - ”m»ºYóS?»L?óÃ–ð?ó˜HênLE?	IçPZ?øV-?Õk©J#
eó¹FFg'?+A??A;.??Ms?{–ö/…ANb:›RpÖ[”ìWRèú-Ýh+øÉ??	Di?d%;•å²ZmL×}??P?¥¦ã²nÄ×	q‚øûU?Z×Ô4Ûn
SfÛýDi?-a­ÍOdÏÜß¥/?r?%ãÅxFQ8??ìöf0JŸf?,4?Éê?am*?\U”aÀ²{®§??Lo*ûe‹Ïr©²2èw ?’MœVúP?òý^Û`§U??n?ï¤Û]`??ªBÒT??8nM¸Æóp?ï`???K,]%Iƒ¨?çeÆè?c¶Î²Öx­ÐÊÒ‘¸$€?R/sïªËÇQvÒ¥©P¾îÃÊ?+?YZåS?Œ«6??R?mk?’ÊZ†Ýwt6éj?z9	Ý¦§¥ïkøP??Çß
Úl:\~:T?O2¾æqV—¢?(®S?‘©??3aWâzs?TýÇ??­­??ÞÃ?\?ÑË9ÜÇºÂ¢»)*
ËY)'E)?ÜP>?ékrl?áM†Ë)K®¢)[????j­¶Ñ¡UU?eã»ÿJ?Êqã?2wh>dÚ¸?Õ÷???œp–ò~?ÊÂ??á{ÔT?Ò?åRvI?{?¦Ú?é¿Œ¼ ÏàœmIŠ§›È?ŸÊ†];@v¥Ñq?ç^‡oWK:?yo©JßàË~`
”Ú,}?%C@@½ì{Üv?ók?YZV?/©DvíP/!\?;:"CÙÉ1L??2B­·ÿ&?????ØDoÏs|šRÑ??âØ	r?Wá]®íÈýµ^êHÀÜ«ª??×JÑ°1?+?r?ObGî¡?˜x?s)ŒmåRÇÔåqi½òQXÑIH–B?Ev×ò+B-Z<þòu§Z‡·ùsóð0|?)a¦²¼{Æ[d]·Z??„¤?®Ý+WÀî+Z??·ÝN#í§6Êqg·à'l???Õ»“ÕHüª?‰¨pzi¦¥Ý¬}ÿ}p?îÝO@OõÐ??På@"??CR-×µF„Ð??!¾]?ÊNgÝÄq¢{ÈX?”¥m??WÊ¥U,ìÂlúl?éux‰m9-µr±Í_?!ßTxIÄ¥vÞï`Ø×CZ[?2?²{…Å3‰Á?Ze:â×—y­Ç?³¹Fæçj*?UµPŒy-Õg?ÈR`er
%@1ŠåÎFÒÒ?,<ªUYÓøC?øÕOFüäÓ]RñMzj‹Ui)R‘{)??J´ÌŽyìR@I*˜«§öW??lD•C™±J¹ö_oÜH¾§j’B¬j­l\?èn–Û?òÜÆ®P*JúG?¶í®ØŸÆ ç???çÎc?ŽJTÔ³7âÐ ~?“­? ,\??ßcÑÁšÛh?—ñ,dÌL?üyN0?]mi+Hq?Çi?ÌnnV¥CšâY?#9îdðÊ?HŒÙÝí=d­¥- Ûø?zWYi¸Ù“N?(‘ü?^?`??³e)J×i?is\d?³Ò|s!…ñ.T??k8ÆQêö\u²ÚR­b½æÿ?éL????&?ºã?¢ô‡V_ê†«[†ê*??ÃÕ¿cðÏ?öï!c??œLüK‘Ü,?Ïý?mcüÇP RE?³·SG<?½¿NT??äÜ&??¨Ä?{??o6WT??)]?Úû$?saV]/C¿tèúÖ«?üQ???}øSa?dUHŽèÐ¡?×qÖ¼‹UÕÃÜú
^·JÕr?JŠ´$Ó$÷¸Ò«¶ä?N{~®Ê_áÐTÍí¡Ãùvéux
?#C
¶ãpæþ?»ùcÏº??êR:ühp“Ä?¥¿t O??‡zlªyk>ôý©ß?¤Fh€?~?±î”ÜümVÒÚAMÖ²G??Æ²ÛNL~î¼íî”î%;U¡¹????­x???£¶—£ã¢?;JÞÊAmDt?{ùÕøÔUI???bOÕå1?µl?BýïdZ??ljW?4ÖÉ$Ç©(SW¶îFqÊÉÿn’Ë§ç¡ª*?o_qÙö?ŽÅäÖîJ?ŽC,BZ	?ªÜ¶Ü;îF…¤éKhÓñ#U)?>žàùÏ
ç|?=?{$êd&v1hSö¸ÁsjÚP?Ø¹I6¯V¹i{×¤¢¡öù0âººÓ‡©w?RZD?{?^ÝùScq?ã[<Ú´?ÿæX?yìl”Ím?¼ãwR=?6…ôQÖÝ*ž¤?ôZ??$Ò_Èñ¨pbO?šÝ?¼de?á½ÁÖ¹m×©e6´x/S?ÅpïÈUåOeSæ¯?šâ?;,
Wa?ÜyvV??©jD?BT?ê¥¯¨½ë¥l‰ÅRnNfCa2r.…Ãiz¢³?Qñþ3ñª?‘U²ûÈ¶9??Ã¾°qíKT?vX?â^ZTÃ¥@Xj?*Tp íÔµe??0?x.3?R?ÊFÇ½$úV¨ù¡íu -)PðªóV!—ö?¯ÄùÊuï©éT?Q'Ç½ê×Z?P??+	??Fÿã§o‰ý¬k91?N}kÌÈ]ÂÂT??Øy?ÑI?Ú©? s—rISHs3??]¨bJJ????ž½]O™ù³é?´¿?Ìe]Æã?.2^['=e?‘¡}?>÷åa?u­_	«[?ZÑZÒÜ%¹æ????òy®a‘ä8i?ÀâÒÑÄâÝ
L„E??½^?]ÊGJÍ½£y=%??ÅK??[Éçq?G+??Ø¨JßÊaZ?×Ú*i?p—b½Í’BÛI?5gÇÀ¦ØéÔÒSäã?$p¥Jwîün?Œ¨ÜtÔUIþï°ç?í?m?âæf¸¢}??@?1?Iñ~?þZ?70n?òÌæY#?åÒ?o}}ôË??
u@xº¶Óã+?žÉ`òò[nM??€?iZ?ðAU‡ø.<ë­?­mMÑY}Õû}?År???b²[Z??
P[a$?©ª2bQ&?Û²RW˜îËy;i? ?BÈQ?TqQ?Onp¦Çnã§Z??}gj§Ì?ÆªXuKd%?}?ãqo©tÉK¿IKòL|¨ÓeGÖÃ?r?
ÒTRJ¢Õ†lÇt?/^Mƒín%Mîq)ß©µèªÙ?&z;íïÊÅàxD?%8yR~±O?Þz?‘ubÔÖìTMGu’¿Y?[ìLi±]?+s?kþú#?i?áÚt:??i½d???6âr#!.4û¹,;	Kh}?&@Gf–ê½O?‰R½hèJ“¨??u#?ë{z_?Œr8U€q+MF?|ëÍhöd®d??¡`4ÔZºtåB®å¶­*??3H?JR?#mÀø?e?ÄïRxlI;BGROrhCrzìf‚ðJP?Ù[?„¤\?†µ"´µ<w™Ê-OÉÉ¶v.KÊF-Nudp?>¢Mv?F3<??rî¨"VQ Þ&7E"8?Ë[Kö¶?S‰pU0™U§Ü`¼«?eíþ
)?UæM?+Œy?JsiÚÖ-?????–G Ã][??2d?t¤¸?¤¬?6WoI'ZÏ]5YK@ÈqÙ¸v1™ø?y?ÞEvÝ·-??
jKU?¡Ê$Y_R¢KÄÉZ
ýLIM¸¶Üo~?ÐA­õ??0ïsÎX?es¼¬?J#?gËy€?*K^áU‡mµrê·3+T¦°—¡ìß·¢_ãÑñQ°¼?????±Ð«êf­±·Ì?n?Tj?¹k%¦Rû_?¹¯1?ËS5Äð
ÂñäcÌéÊÈ>·ó
7öÕM?í¥=Iµv÷ßmŽaÅ¢Ñ¹sËm‰n31?¢DÈ}¿ÌG?ã´äL«ñ–¦Ø@oD¯Ý?
ê³àÑËc¢Õ??qò¼?ÿÆ¸âÏ©Mr?ìF??—U?R·JsûL?ÎKµÏ?c!Íu???âcªJƒH>ÞÄ?*°JM??®Ç1ã«?xíÈîzÉJXQ;Z	NÃ×Ó`??µÔâi—_?´{°ÏÕMpé±’vì¿`RNµÚn.â¥}?™ñNK?
Ÿäø×åCuiÿiÔ´§`?úÀjæÚëLš¨,íô}_Ìø??u%‹¥?áZM??VSs‡q¯z???Q@<?õÐ=O€?T8?AÅÅI\œ¤–b2„õ*}a÷ÐêÜúï”n?â¥±ô|~ÒÀQ’ÚR‹x)b?¶Ú"ªû­§ÔãÐÎ!?7@T·¡?#!,è_?açJ?•o€mtiò¾¤ß?ÌC(3`.L¨­>\~?ý´V”¸S?ÚØÔí©E2??ä00??-™ðb? ÅI!À@?…ªç©êjªMp/ÁwwjÙï???Ãä?µ¶?=??#Ñõ%äÛ?;qSÇ·Ä«:}Jy"x—¤)$?	7(÷«
NW_wP?}56ÓÎ¸v~¥KJšqem¬YÆÔJ?z?Áù?B3?•eim´²•©DEq¤J‡½]Tc;¢IñiH¨[eôî-R“çÜJv7ˆrcñ§Ýi\Rdqìä?!?õD˜²N?	YEèÒØÛ??¾«?,ÆyÞY?qßr2"bd4˜³[”½«ecsŽ{?N?U1®Æ?­W?cØÈ!>ÙWÝfQJm?…t???²þÓ¹?îH•¸¿¹?r?ã¨?Ô|¨ñOG?ãS¡®?%xÿ¹®€}%R?C`?…Ic…³8óOóT³øW<??1Ü®7
Äò²ß8,²ÒìÙR_iO<•¬­´$¨¶	°Ôõ«qãëI=???›P??Ìô%¶âa´âÞj!+_¨·a{_?j?+ñem?\\.)’ö?hX¼bmºl??Ýj7>W=??kíe??åÜ„gã®V"\¦ÝÈâV˜ÙPÁ²Q 6?6?n?-:m×aÊ²UYq YZ=ûúNëu'[Ž÷ïUÉsÔ×€??¨Ü%&âÃ¯Ê?	?{?¶BHl??¸ÖÖÚl­»I4?C„g?aP¸Ë?W´¬›­ÃqI>¯eW[???èªO,??L9[²Ê@iZ ?€:~@j}-hW?–mäùXù¸ÊÈFT–þ‘ðÓÍ2ÐDT©»lmÖá?àOz²µ?³Ob?µJ?ÖO¼\yCRNâ¢Ój?›V\øñ??è´ÜêÂÀ???n>dÕR?¿¦qdi¼Âr<½±&L\4wXŽÚ}AçH???n‘O2¥ulšl‘èL4|?+3‹ã?œ\€	T?t¡¤>\JV•Å**j?k]éÐã¿?p/?ÉùIØÌ?Åe^
?¸Óçºa?†ÖIRï¡???£»Ê«YN8¦Åqœü(?Œä±¸?´iŒã??;?,Ÿó×£Z¸Üñ¯’³òÏ?LñlK?rŸUÈå0w3+0úå?6AÚÐ[*ÅEÄ¥å·
<ˆkñàL?*!G
e9Üh
a,??
X?b??Tõõ?n?íûÉóÜoŒÍJ?â%
K°c¨Ü?—¹?OBÉe³g"?zÁ|Gd)ùzm\è¯"_äd_ÌÊÿ??<f*T_·Ñ?¦ZFz$oqO#?Èu?½®­½?A?Uš©%?k’÷?pÐ\g:?B?Ë«9€ÉGúÎ??] ¬D’î€ÉJG?\@ÿUP??cêÕ-x¯Åx7ä¸?0?Ó\?ºdËZÎ±à°G¸àI€,?ÕGãW-qq•©}\+§ÄN?òÆ_ZCh?kö»%?	6¿øH@ù×_Íð?Çî>-ýÁ?ãüÿœá
ŒÎÎi	ðIx?±B±Ä£s?GSmhp?.?i@téku?=NšP
?Ó¥?›þ=? ûÍÁâ??Ês&úOM?Wÿ?][?ô¦?èçÜe??[?L?¤ö.¾Ú‰üMY•êÈvÎz|? øo!?{kwÚÝÛkèµ]mLTR?w«f??‡ãS(D%2 ?V–Ã@ïqD???øÞ??Ê¸²dwíÛŠkÿ&€¥~›S?Òï{ªK	K‡ñjâ¡…î[??{JÚ@?«IŒÉi*
Õ]	·Æ¸ÀÚ°?~`m×÷?$mC?I=ˆëRG?ÄØÏÆy'?ÚÚt‘Ä??\hímÒä¯ðx47ža?PãøQ?Ãê?
H]J?ÓSU??úþ¤Ù8d
lo{?>?ªv?Qm°ÓJ—I?'6Ÿei%&÷ëÒ¹m‰ÓržÊr\??šÅ(+z}©ñ	>?z??:¥I?’Ù;J=à®j:ØºxÇÜ5ÅI
´ãfBovZ?+?\¹¦?uýA§ø¬kf<õÈ´Ó™åæí-†ÑmSÙ®?©PgYÈå?¹|„­üÞvL?fxÀeK-'c™Ù?À¥»¸7ojEÖåWtí¯=X¬ªÝVËæüPÏÌ>ÜBã¼s?*¬h'9±÷e?[?ùêV?Q=?¼íý©®?YÞõdt¶ÏbµþD—¶½·p§PEy{ÝP8E?M”Ø?@q]H‹´
âR?ÚÒ¥l×qñþúì2¾³k1l(,srS×Ç^ÕÂM?û¬U'?u?Ltê¥{?ŽÚêEqnOå?Å°Su?s’DËèZZ?§ÈuïZª¦?w$9Qˆâññ?‰xX2?Ê‰iJÐá6î¤z5©ÚìFqåIJrn0§}÷Ô?h?Ä«T??)G@(?¯õéÏg%Âdc!.?§ÚÈKJ·ûaw??M©J¦ç€?×E¸Í?91b‹@¼Ël8	?NîQ^*?|?O÷yoar±ùØk™q‘èL?dJ?yíkÚÚÞ¡ªDåY?ßà?Ÿ¹Yq·Û›ÁŒ¦¤´ÞqSUõ¸^“ÒÚiZp?r?÷Zãk?N6’BP£t¬^çCÒöò½z(ñYÞÞÔºÊT?R?µô½Ob%AÆßnRþß,ÝN?ä¼‚V??ÃjU???x|Y?Ž¯?æÒ?B·n ?´ÆÙÞÃv
:\T?Ay·U?Ã@©ÈÌ¸ëb?j!;Í¼*Œ­?om_cl§¹|\W
?$™NFà|–ZeeÜkÔæ+?apäD?‚Sí¤[Ýµ?ª¥???õâ¾?ÆûoÏeáÌ•Ì#*)?ÒrXM!!ˆòXMDŽ­w%!A?
½Åé¶¯ÄÞ³?¹­jÒ®?‘Èr ¬,?-??“å?æa/b>SÿÉ¼yÇ}ïæd'b2?E#Çß?ÇñMf¶ì???þÞÖ¨?µÓ??i?&×íûèm§cÚÔ@v¿ýhRÿÄhy%}ÈËe?ÌÌÂáqXU:–^’Ë?/}+‹ô?‘¸zOBEïSÇó(#?¸ZÑæ,o!rJ?
%-y<|¶UdG¢ÃußmöUªI ‹¥]RMw#–G]ŸÐ???ŽfI[0áÉ¸×?????3GNg_2??ÝnÊK‰J?!Bö­8?M,ÇP–´³b‰M8NÂÚÎº»N?¡b—¡ãéúne›BœR???v?R`{„¬
*ÒÌ???¤y$__h1›Ðÿ?ñ¿t?Nµ}?ÙQhêg	S‰ÜE?<†µÂGsoF«ÝqÓÆ??K"?È¦?=?¦y:jŸaÅÃ???ÓPz?´ººÒ9¸üQ`6¦Ý	[d8?+iÑÑIP??Xf?~?ÒÃQp:???¤¤ÙZ}?"?Jc–â??@U?íY2Tôð\?X?îq-?v3?Ýl?´âE?QrN‡¡¬°ëª7?(g¥þ×ó0Ëä§ò	?Ïå A??ŠÖ1?¸ø?µ)C{‰ÑdÚÃjEz3W#×æ?<^÷¶?¥UìçÆ|Kk+?GB7®MÐ²±¢‘k+r|+MªaÇg??????',•AY×ÛÄÙ>)íå^sƒé[M™õ?yþF=~e¿æd?!	Q?ŸHþÁUªÁs³Øêr	%):ë´ÔÚ#[H?"Äk«i6éØš©?mm©§p?r??ÊÙãñ­ëk???Z÷­}·k5wÌÁ?Øt]c?ßàxîÎ?ÖpÇP”OÁf??
ñÙï¡i@C…I ô¸ªêºm©uŸ]%q#˜Ô6?i”¤?¢^J–@P
%6êA?QoRÚ­9
N?$Ämm:óB>=??m'R4iM€üË=zWkŽH[,/»øà¾ñª”ÓnJ^?qn>ò®U¢t:?|ˆR?8ÂÅeÜö5?J?9)$õZ?~ ËRR{{Žª<¬L/q^?lúÝ?H6??M[Xh?µb!?$‰ò¹d?¢þ"?ñõ?n9²×7?á¥KeèG¼¼(à÷=??e·G§{`©¾»T:‹×©V|?3?9ÈØœ¬?U??RR“¯ÄRÖÑ’Ç^?âA¸ìV›äQb6Èm?Ã±P#?2??/U??Èý¾ve ¥%?Rz??•i”éC?Qß¸¯¥?¤x??žE($?B?tYÔþPªQÒ²]ÍÏCU??dq¼½?W'Ûáø?Äq?NC?§ÐÀ»q
?¢íõÝQnÌº•tÑéÏÏ?2Üàãb"5ˆÆ?•ããÚÌñœ´?ÒÞC?Jd¸¿R–]>íÎ¾²žÕ?ž\yÛ³—¾Ì×ÿ¬Ë?8?ãheCCµ¤kyÞõå²v]5HùÕÿ1b?v H	3¸ì5\w--Ä^ýê?ÜkÃþÚøžS·÷Taøö?>=?
?ëà
-kwí@GÏöP?†|^yß¸?M:a8öàNŒêãÊ?*[Øï¶B?>G?U¸ª›Ô?GJJæ^vàep?”Êçg>¿ä¯ÃÇ}?üt¾ãl&6v3`7"?¬Ùä¤ßi?SOs½µÓ®??À·>ÛHþiÄ¦`d?.^ ?Bñ¯{ÑT‹~“Í•{n?&þbæÕÜZÕ¢žétÝ\Ÿq)*›Ç??C?óþfP?]‰ÍQ—¸¯M?§dÑî6çñk?=ˆùÒÇ(W?#–cOº¢·ãLbKkQY>Ï¶?­é
|j?yªë??ÆÖ£c×¾—µiLÀÑ??ï×Õñ?€,Ÿá;?¶¤P#ä^?*Ôzmýu?ikªAM?ƒ±ð®–kM=Éâ2âUÿÜ¸ÞZ	M?¶—oú«æ?ÊüÁ¡Ë?óüW‹ÉZ?¼TBåú??ÿôÔ©ò?’W²ñ%¬º
CÓáR*2)J÷nMíå\2d0ËAN?Q2Úeu*?
mÄ¬?›tò¬÷ÄmÃÜ?é÷‡M‰Ç???F¦î?äk:?¦Å$l?-±Ã=,y•´-/?\f|??t˜­G?ËÅÖòX?Bg j´¡BÞê=VüÀÚõvï¦ýL=ßýoSvÅ§‡äz#3?ÈñÅ¨ï´óN HÄäÛPSj*K‰RtR{iÚµfÄ³R=ƒ¶?ÛÝY?U?˜Ê\i¥æIih=F„k?ÈéépÏ¢?êVÌrúQ`¶ÒÛm­«°WÖl??ß{-1?,Z}ü¾BBƒm¡¡®Õ,éêýÕn*îmò­ÊûŽéã¯±{?~%=?ïÌ??ûuF[-??©À=!P??êònníµP?vßõ?¬®_/??T¢}??ÓÝu~?k.)wUÔ\R?7?rÏ]?lóÊR‹È*}µÙ.%àv?‚Uk?{iS)lŒs“ò&\??ºÖ??=#AdÞÀt+Z"8?–H?ÓHî­¶C,©ImÃd›¨?ÃKô¨"öá¿¶?çgcN’ÆÆÖÛ¤6Sp²¥?@???T~7?’iQ=¸Í???¹nzl{\êo?Õªg?Í²G¯þ?áßÅpìLçÈ.JìùÏl·d/q]û§oCVàQ?¼´éàz?„p??¥~W$¤éñ·Â·Ôò/?çN?Æ²?R}?O	¦üU.CM?éQ®dØ³·K??C¹îm1-€æ­Al?¼|f?kâá¥w~dréZ??£¹FÚzM‰µêePf?	5°íÞºÙÄy?äÑ‘ä¹\<ÜD‰¸5Êf1?ÌUæ²?Q”H??µzb?ÚÙž­N4øý?‘iðþ=&vLù_?óý¥äg%)m?ãk˜B@?hÒG??v:3d\IN?-?>???G'ùfy)[N?Å¥cÂÆºô?ûÎÕuïÅO?H{&?$5)i??í¨?»Ñyÿšø??Ì¥#oÐ¹Õ[¹Qq#??Íð4öÚâø³Ä}V\c@¥è?ó¸?ôß???de­½Žg?…d~d%e´~ÄÕ?f~óä©tòë?:¢oôÅV&?¤ÉuSo?“qL?íÔR|ÿ"?Är‰Ï@âS¨Ék%Å_???{Úe*B_aÅz???Z‚^ç¡{´Õkëª?ß¶??ËxÛ|‚vq??ih?øì??–Ú!iÑ{{ëSÂá´fîë5­¡rÐ´????|
]c%YYÉ@Í°n¥[??.?l”í?.õF×FÕ®&Z?Æ¶ ?kR<?)?¯¨?R8fÙNÓ¸›j:Ðã4¾ÖïqWÐí?(8?? Ö×ó¨²Hc?|???r?P:ÜÃºAø©??×ä²ò~Œè?øwkr—ôÌ¼?ÍÍ?ëv?
?)Îãçl?I?A?eCOàv?u¦ççz[?6îE?:áÔ?føÃSãK‹ì%M?r;©¶¶u*lŸýê®?üy\žM“ö?dpç¡¡Ì????S‰u7¹ë}¡U‚ø?=šw0??i?/+áp ²¢©X?53 l–ÔRKf×mDª~b?%±¯žã<Ö|?S²±?ˆü?½åI?ˆå·´G?¸éq×­w=U×]~%]­Þ)ÅoÐÜtºZJHRÖ¡¨¹#áãðª•z?Zê©·Àæ>ßr~vãp2???;ï·‹Ó?¤êdI7«M´@?ãZ?•_?¿Î?rSw???¶X!??ŒÜì°¤H?’·E­¶+FÅå¨é¿Ò‘Øª¹“·¬{t\ÿ"x{Ëõ.½_%øò?[–à?Èå?i?<m$?x??zR-®Á­º??Ø{ªÉ?‘È?0ãó¹´º¥ìka¾ò?{
Não…vNZ‹q?a?YJ},l?=åþuªö°¶?ÈLlp?;1?ÂÒ—PÒÀi¥ªéZ?½½‡zì¤ˆÃ³Ôõwàùç¤cŽs?‰PuÕ·Œ@ŠHJ‰SËÜ@#?éjåk,îLŽ«MYyJÁÆGÈÌÅâ?Àä\ãØ?PòÛq??K®¤?t¦ä?¥ý+¦c?­õCs®¿‘i?Lh\{
)	?l$ÆQ?ÚÂwŸý@éZ0×H0?nÎI3??wzP	I:Ÿê«¤?g?2OÅ­??#†àQ?Ðä?þE)?ŽÑB³ä¾ñ?Ýì^G"O?›ÉÊEÉ¾?M¤þ
Ší6#›K%?j€?X­@h|*ÄPÍRv>¢A?/nöþªã¥±Ø³ÿ‘errFF|åý>-?cØ©þ³?X?	o?|õZ¾g?ÑUÉ}¥¶ËÌ?Çß¾D›}K·é??«æ419¶¤G‘ÅC¹u°´?—aeb$¬h”Ë?Hˆâ‰èv?|EBûù¢ìN+?¹ÃÄç™ø?>—rm×Rz?`?÷P&¡M?¨´#??™¸8²A’ãØf¢ËKH@,4??uÕv'pBGÇãPÍó;_öß™ó¨ùTZ¶¿*PKi@.–¶?.(¥µ??`<h±¿a0ŠÀ?!?
©x6”õôõoáùªü&nõÏ???ùU
®fò¹,²WmDxíý,PG…¿}y?})®I/S?Lr8ne>?M??®mc­Í?’¼~weœõ4ò×ZÇP‡E? ±]?&WŽ½Tµ~$áÒ§â?ªpÈ¹ë~Â´=Q‘h?‘e^{žq?yQbqw[?r??vb??T?
Ék{?êb§úo?Êæc?h,7` \”Ê@(V¹\?¥¾ÐÙ)ƒW?Ìb?lruèl¢²?-Éú¤Å’²ˆsbÍ^í[Žûn?éB”jRŠÝZ?k‰X*:
µ¿éÉ8]!+	)$Üõ?®K?qYWÙô<??hB].2~_?»ð?Ã¯RçVeÃÜR!åáµXÎA?Dûþê~D;\??n?‰»d‹ª?Š´?h-"?Í®ÄP‰XR|H?;?:j>?«^ŸzÛm°î›Ì`?ÆE:ßÇ?U=?y­dûk?v¸Ä?P¦ã??°w?#o˜éV*&¡£3Ëj?ÊºÉð¼®5Üqu¦òs>?R.âÐ?kI??:Ë|oQÇCm3,Õ}\?"*?
ùL?ÚÜy’@nöô?	:Üv5e0ÅÕ¶EY;†ñºî??ÆÅKzÇò?xP>©J???R“¥½J«m??SžÛóäD9v@?d=!§ßØQn9^žâ??{(ô·¤U9?SWkH?‰äžf?c?’r.ýFIÑ¨Rï¹Ä¨?D?i¦µåd|¡Ã/Üy?)èM-%ÖÕÈM??Ó_Æª[???/&?Ê\T‰rŽì?”¤£m1µÈ?«JÚl?<A?9?ét®ÈGP¤jA'¨¹ëã\Z?hªo‘în9Äcãea‹­"D?Z~¡Ý[k{d)(B@z×¡?K\?7p?lI?Šß?$)?S?*K¡I$“Ð
?±R*?£y?q§QÄy(??¬´I
Bã¤4²Sà­?®·ïLZTgSx7¶ãrƒEdÈU‡[?nO…Iz?Ë¸=ÒT¸iËMHK"2Ýoÿ3J±üËâW_’ßl?¥¾ÅÐÜäE>??ã¤“ãê¥>Ts;›ØœÝhA%[P?uê{
?k}KžqÁ±$(TO€ëó¨½‰ÕjEøÌ$?)[î©?§Sz?x—g?J\–Ö?¹~{äüjpV?s??ÇÕ=??l\£ª#M?k?Èâª¼?vºÚ9èBñÙl??ÂÆ?y
KmòÎV?ÙF§{XðC?©÷‹øUun9?v{·É~e[?–yg??Šo,÷xêÜFe?C?ýÔ?ÈJABvë®¯?¹ñ.Ä¡%	k?2?¦Ð?€?@³Aiçý?Ý@?h?Šs9Éø?¤o^S)8GˆS??Ðíw>È¦XÄÄT?$â¥1#OZ???Z&=—]o??íf?ßKÅppqm×?úÎ(v?›üjMk‘R·¶©±????KŒêPh5?…Ubêl??cÜËñÌŒfV¶¥?ríX:ÛÈ¦?\¥ôñ©ÝJ*Ã~???pâEÅc›çkt¾×ý¯.)(ÄdC`?øô?6ã?‡¡JWqåP¤fíýÏ£???Çw)¤_s)S¼Ã4ËÚ5.F:?Ð¡??j›x›qi¶ËO?ÀÄñyK?øßi?!L¥C????Šºµ|??zÞÃÜ^?•f@(ûsöì(Ü]¤¸?7cxw7ñ©Ãä?×ú®l<NcºûaÁ]QW?d?Fê½??|z×z$sê¯ë±?\Èm†Õƒæ?4Ë€???ÀÓ?$??>àÈõ§Æ¯?2Ø¿VWîé(Q6DKß¸?ÐxR?q)?[–KŽÖ
CªÉýÜ{?Áyäg’D¶Ê¬´??¿J…ÖœKq|ßÉ?ñLÃNs?³îÿée?JòTDˆ­«rÅÆ?ëÜTRÕébVn+???ôWJZR~?¦ýHA/ ¦ú?yR?Šõ???qÿxnNðó?:?8E¯ÓJiÊÇ5çOOÐq?ËB»ñåóvYAâyV3#?…R"l??wN_ÇRªz{~?A?ÎQ*@iKÅeÒ²màd¼©¡w°GòÙ¨bC†ÚŸou?ªä-?ç·?]?V*?åU?ªf?ÆÒ:¤©l?/]ëD>?Ðü?9®YÅY‹ÎçG???n-å´‚K[éÚ?ÿ??Õ×^FŠb¿¶S?kÍxcï¾¦y^m?Z?Øµ?V¤Þàö«k’³?&‹ùY??md?er?;ŽÈG?¥ù*/0N?ËKÝÔMë¶???[¨à4Ìäs2êCo‚ò\Ôi&?¢þ_,?Pvj? \íJ.{u¨Ù·²d©J×[]}ÿqTó_¸PqùöÖ÷æ³?ŠãQçGÃ{>Û¡>×²ï¾?ùÓ}£µíYòä‹l?0M>j?ÈþgŸp?ÇD<?|?&{
???éIr:Tvu#^µVK.˜âh?Êí?5EW—ä<IÙï??Îª&?¸­J	?¿i@Ý©½«?Ls›¥I?ü¬å~£®»v?@;T?MôéYõf?ûtÃÒs,DF:fQh??q`8ß´²¢?iWæQµ\??Z–÷Žó¿t"ºû?¼\Uºé??i?ˆÁMn7?GÍY†³ržâÿé¿z?•m?¤sžSèÁ[n?†Z
Ûk–Ó	wê{×¢üß¡â?m}Rÿ•BQDYŸz&4ß²??£ÛRÍ¬•¥q’U=*•®’Í‘ª¢õýF¥gà¦G?ûñ	ÈÒU.#?Cw·¤ƒae~SÛå]…ÁI½é??‘Æ
?÷×éH(\?†®¢{’Q?My?N¯ú>?<??x}Ýáï®?—Üí?:Øµ?
?Jë´=ør"±M~Gºã??ÉriÀq??o?)m—VëN?íPL?×]:Ô«m?ñ®¦Ý-?Þf???%¸T???ªÖÔ].Ú¥Õnh«éW•½?ÉýÂN2BÕÄðÒ}	\|â»??…ûw¨Ú?ñÓVïÐÕÅæ½&%YŽÒ=Ñ{’£ùÒ??Ö¹ŽÒK=RdÕµ­ÇP
X Ýå
M?Þ­3D"!?w#?‰iàË“P?­¡a¥©I
­ÀtVÓ¨Gz??=?X?†a!NÄO??w?þw8?ò×mJWèµ??®V?¾[Y5²ä?fÑÉòy¸ç‰SrðO?ZèêM?¨äÖßÎßJ/3ãcñÕL¸k?ºÂ?k)þª?žæ‹õ?·ñ??rÿÇÜXÊýááÈP??/ÿ?Q?êÜL&?©nÁúÖøªGñe")?ov?ÐÜ¥^ÔÁ‘]§o"kÇo:&s"¤¨ÿ9ËËy³k?0?A³VWY|ÌÙ4??sO"?µÒ¡Ü§ËÆª?cc?ïrww?
????±MÔX r?@ÖW;Âø??4™»-?ÿ??zCèsjÌWHO´N?{Rn7Vu*Î¨ÞíWU’Ën<g??jì®cãåq)ye¸Î3ínuÿþÙÇE%	V%u?½À?V?`k\ºã±mp?oŒø?œVQ??Yq…»	?ËÂËARÐ°.7$èm[1?'=bïÌ‘]p?ÛÂ¤TnK¾ÝÒ§€	?µúÖ¤™È:Û|©{II7 éøšé?
nP*×ð?8A~?iá\œ¤_??ÕkûO6¾º[¥Bÿ+/?Ü¯™Ûqgšó€,?²EÉîÃÈ:ìÑ|Ïà-þÝ|?)¯?zþÃ]h?é`@·mo\$vÇ~ÉºI
_á]LƒFÉ±"å[ÉCg ?¨m.(?¨nIóIºõ8›«Ðm‰Ì4ÅrÌæ?1???KC†Ý­¾¹Ó6KêN?‡ä@??²ÙÑÉqÒ\ËñI­{³ðV¯r3?BÚZ^«µ\ïÃ‘£JÇË³\Y#ÀâùfJ?$ÂOSÑ¢ºÚ%qØëi­ì¦ëE?€ÞÞ5:?µû
²Ú‰´«ö²bp¼è9hÿp??ÞÇ?m' os‡Qâz?nfn?GÚÎ)oàd¦ùFo’ó?ÞO*óQ?§éá}:•[ ük?ï©ÕÜZ?K?)?”²¥¹ˆû?†ÒÿmK&4ÂB´i!ÆR?u^ÃS}j?ðlÑ\õ{?T6äøÿ<T[‘÷>ZK??ƒa?€HJÛÃB¡ÔÕy(ãrÜyiÕòGÄóŸÝF2˜¸*^Wâ??øì:1þÛ?-”­ ê”Bw›éÔ×?ºê?®ÒÉì?:?šÀàr?9	Q2?ÛQ1"3&+?RÖwYå¬á _J§£¤Ô²u=„»í_ãØÖ¹?????NKy^Éq¶Ô?M ?7°JTºZ­Å	;>~åÙºÒ»³Ò¿føÌüf')Ër?'?ÍÜL†p??þ?B@	R’}Å§?»µÄê?ìòÿ?«ÙRºÖ¼y²ÍÈLz4u?-*]?
'j„é?¥_fb¥SdmOÊjKÏ¶?:?A;ÉRt%"ÄÚ?%?:??«S‡ÛK?ŠÂmsSEvÐ{
Z??éRu¿¨yƒ×J?¦@?FO”È}?n7‘d-?W!ëþd?]÷~EøþZ¯îa`°B-¥qüZÊqÑ[ubTRËc[?Ó½u"î^¯ÔÖ®!ÃÜ.??û~??'?vÔí@#åN•È}Kó~¤_?À¸S1n?‚Ò˜mN©À?ºÄ$X,Öý*»Ò©l_?ÛÕ³Wq¶cG?öq?E™}õ¥?	ãt?…CæY??ÿ?9—¿?6G?Ò@nD&„HØúU>PB??«]ùjQôu?¾×èUqfÉäœ¶???S’^ÃàJ??FÄ¥ÙjõN˜°HÂÚw”ÜVwîhÙÒ©G¤y?"èKk^B]?H_^ªôµ1?\«»þâ:Ý¶¶Ó7ÿº¢o?Z®ß?1?O”_sqc
?—cíd??ÒÞ—½c÷Ösmœ¹ gÎçÈWHÏö??€?üqBcržCœs8?þS‰ö?*9~+ŽIp$°éö÷?ª¸×ð®¢Ih?éÎaÅcxôI??–å¶mséNáñ?Ò©?ÃÈ?À²ˆø,,}?˜lÞýw?j¹ø¨ÕµÙrkv6æ£€?tî±Y¤ùÕvE??
 c%?Ú¢?‚÷ñ®TîU©^}ÃÇËbLL?Hflö×?5_????Æ©Ê¡¦¼]?««á¨?;/‹¹ÆæcÈa?ìFx !?$ø¥i?I!@?©_?Ÿ¿?'àN ñ¬DT•¥¸qÃJZýÅllXnR½DØu5n?÷KÞÙ8J??Iö·Î­3
:B
IêN?áz?ÑÔÐB
?E?zÛ¹?grFähUÐÜP??…ðîV¦ßÊ¥­Z`†Ê?øToò²?/_3?êSËr'?úÞ7?z?ônýµÊïðDïò/ÜÉ?H=€QS)	??I6?÷¨´u3Ci??ÓðÂGS2mèY¶½zÞº??”¸N?;Šé?PÎCdN.AQ$'??,ÞAA5Çºdéµ?Üe?ÌaqÑÞ$ÈÄ<?'üÑŸZÿÑ¶”Ñú¶ùêX?h
·ò«YÜ“p“Öö±©N€ky¡î?,²½Çæ:ÔI"#ÊðPò°?ÈG2Y¹]?…¤žám?#Ue¢²†_Ûå?i”r>ÜàðY9™¼nˆ³Us!%ÅÌ?wû¯)jëqdšÄ?¹H?Ý»¥Vÿ·ç™Ls3?Žs<?;?ÓËã©[*m
ui*±pÁ´¨?,???dœèaösíT?î?¹ï?ŠØ?W${?-!Kl??:éVöý¶½W?®÷½Ó?ðo??Ÿqn’¢µj?{’u?5?:?D¨¥J	¹µ¯ê'½q¢hæi¢ã®­?)+8?&ã¡ìm\Žg[Ðza†ÈÖÛZ®¡??jÄTÙÛô¬??v?¶¿
?+.b?¯ó·B???¢®?…î</T?‘¯>ÜLb)dì‚´?Ð­Ýv?Ê¤Šl?ì¸àQ) nîÖþU$ˆ¶B¹[Íµ$é÷e…§{~?·Ô[F·Y?:ÕY ?9E7Ç°r?e`~???G$æÓNFh
µÔˆHSÊB?ÚV|*ªÕðPkÉeüÖoÁh?%Ãåg‚c?S“å1
@^?f1V??e?à·H?7YßS5rôü?¿ÔkeöYçP¸ÜH­c??/3ii–]iônJ[@mC@*Î\Ôb?–\SîeÜFßTfBÓÔoûjê­LvùJºb‚ùöA??a*[~™Ð|ÍS½Í«ý??òS?te???;Ûû6T?Rôf•­W‘AÚ÷ìh ÆÇ?0í@*?ñOéâ¿u²M2Ó¯J ÇL‘v?(´è±ô¨ªÇJ•xœ·3ÒR?…ã???m˜e(ÂòX¿Í?a6?_¯káÚ??T?¼WÜB­Ú?}Œôf[s°x‰¨u·Q&ÙVæ×vÇ©_I:?ÑG5G?tÝ¯d??´û?‡Aóî+?M?b.ÓÏ1r[l?È÷5
è]—i2ÏcšËcæÂP
. ?
ÿ…Cà{?YG1_¦É?úçaRã¡)}„©™ÉQ ?ô¬zô¿Î«Njhk¦ú?næGv"?]_SG¥Ðwt=ìn4=*xYê®K85mÿ??µÍûhuh0É±??áP?????‹¶”_?ëø?Hp¡k·K‹j
…èDg?{üo’²og?ÒlQ¼w:v?r?xÜYy? ?.)@(	|émD”Hëo-?ïð-Éò¿ÜÉÒ??ÊÚŸPóñ?IªëA
?»SkþÏ*?7%HsÜ²?o©Ó­r??zTB¼m?E¢I?ËR
”@'òßKø×S8ÑÃ??BðPE‰õˆP?EZ_y?o?Â£":ñR÷fy,p?uØyV?ObêÛå½³][?^Õñ^??i?ƒ¯…Xc6±¢Oð×A­Ôn?k]?²®§Þ)¿ûI§Î¢Ëq?T?T?@*6Q"ã¯…WjÉ¢?¹Ì?B?¦s???(¡e: ¾ûºk&?Un‰Y?Mr;V?‰ÌU?f–Ô?øø­Ø^?;c÷Õ?™ê?Î\Y°ÞH?ÐM¼®-z4YKQQ
?ÖÝ¥è?kR?aK**Þ@°é­u Øì?¢êCD??ð©?v–B??m”§-?óy??ÕÅ?•Ð­÷‹Å	?YîåµänÂ¡Uþæ\e€´´nÁH??¯W?¦N?¤©ÃbF?,?jéÂ¬å¯¡PÞH²P?âA&÷éz??vëS?£dÈmM":R“b
–GKüiMˆæÜ}uNpÈ*I°¿^?VŠw!R?,Ç¶?‰å2ð®è¨“c„´?:?USW>&ÜºU×ÂK?“õ?V­éHJ
´¹°¿^Õ¢?‘èŠ¡Ÿq<?9?9?ÆHïµ	?“Y×ÌÙ¹ëD?ËLjÛÍql è¶¥DRSë÷S§n¦«¿ÌhÇòF¿ZáÙŸÝ@jóü(p6ðù???Ck??\?sx'§·í¤~ Ôé?uòüOu²ÊœÆ9pS.6???‡çZ£CÌo?SÏO‚öCŠç|sêñ²Ý`p¾F??BÛn4?‚´?R?•M,?Y±¦?^¼WäLær¬Ö1‚®SÀóø¥ œÖ??€—Ò‘×V?7g¯B?­ûmðzØl?,–s,ƒYLzÜS&K?“e$?¤¨
Td?½l”Y×}½»‚JV5$kÒ¬3"­Î!çKCnío.?e
??Q6:?•zÏm™º­´?
àR?ÊGsb?}Ók‹è??X
i‰êO¸¬Ðô"ÝFô¥JJk!_O:ØÏ*\²Ò?›XŽ»??Õ\s@]Gr•¡?…êh?P¥nB€IzWNe	—l?P&
:ÜÇpšãØWK"
?¬Ç %K“ö?½ÚÁ"þW¨WuähÉòÛ÷!Jnm§@O??SQI¿UÝF?

ºö??êJ?	 ?•è
??'¯Nâ¹NGÜIANás´TI&4e–·p™È?*{1?ivØÔ[?)??iI?Æº;&p?Žû”Üê?©UËø?¿ÜË®’ä&	U?¡CÊ®0[s¡£§]|(pÉw?QùWZ9äû®ºâÇæRA—Wc‰kDt?}t?Š{˜Îp¹÷MïÌ#ñÜdD+KÿÜ©???Møùp??'k????OD?aøTÌÆ%?b:\v·[?$
¥Å$$!J ?âOu	X±‘¸?‰¸ð©lÞû½ÛQp–¶?H`”V??×¯NƒSQeˆ¬¢FnFMçoï¢GÜV??"€{
ªI?—ñ5;Eô}ì¹¡kP?q©°×÷Õæ1?-
ïH6S???j?:ÖJ?>¶bûê!*ŽÒœRN?ëqá}+.S~
?ˆ¶ð±B½j}>àR´²OAò©ÑhQšÉ??#ÛÇ½í­I<4*Q6Gã\»Ð????ËÆÐúà?ðHëîc?;×É#ñ¨ÕB~¥í?ñE?Úë?i??Ø¯W?ùê??çrÙL¤Õ~¯»’{éÐ“q?)'OVZ?g£u???+Ææ0Pdbe7”V,??‡c2$4P†Ôún‚½ßÀ	#½«?’xj?<7Òö@?øö?X?*?ôs?v¢ýŒÀHiKÉÌ[îZ??ëâ,*kåøœ·?í?l°Ér?]ÃmëZØòl?WÛÈ˜ü?øì?yòY2y#p%?	Úã?ÉK?ô¥:Š£­§ÇSgw)UÕÄhIUö÷	e?˜Ìpi??¥ÂQ=?W¼Ñ??MpÐ¥w4[Ì¬?<?å×??œ¬???•Ä?ÖÍ?ŽÞôÅs³sZ?åu;zSuj¹þ>&¼V¦Jôý?äKÝæ?FJó¼'”a?[pÛÈ°¢¡p??A/Rëq±OÒMée÷}åaËþäñi<~nO?:~%Öß?1%¤û‰mhS/??l-TÞÒk?§®?
}?4Õ²?aæÐ¸êI)µØ?†ãZ?©ÜëØzE¯B
Tµzl,?·^?ÖÓÈf?NˆW?homO@(qm î]ŽÒE?ÒþW?E?!%?§K„ü@?0??ýª$9ôøõeÃ\gè¯x²UüÃíÒ–àWÿ?NŠ±¸z7QÒ«?#N]¯û?iPq6*?wp<>ui”Ö}Ë¥ úº\çC?æçElzz¯@e²å;H¹Iµ®??Ip?	µ­??È©’¡?—ÉmZ^ábÄ~¸ë$?¨øÄ§?ÀÖè]äbr˜E–Æ?à´?hÑª+¤zr¤Õ¼Ó?‚È0?&JN?llÆöñ­5zfZ´Çö_h?¸Üýµ$à¨?Í±^X 
Æ¤?Q? l?m¿rjªK??? ^??‰ëÖ¹$ ¨???rU?¦nGc…[?cp×O?©¶³ð6cÓ£É²Ùp(?$n?¥j?éWA’L??õzR="ýíÜWNq? _ro¦¾f?ÎÇÞØÑP'MÇ¡·Â??Z–HHÿQ½È?M#€ûku¤êV£©½À¿[Q$C ½ÜsÊW¹ï}ÃÊ8ØI²FÖ^F?–¢¿ù[íE?ÐÞ?Ý´í¹'­ï`{?f"?
??%fêI6Ôôu:Uveô©ZrÁüÏÜdÜýZÚaEæÞâFÔôxÖ|š³nik0–¢Fm%!-?“ÞÃMÕzÐÄå²?äì?M§ô’°édto¡×ÌÕm?âJµléä?*±¹†Õ#?¡QÚãûwÿhØTì£R¼v™^)?rÐÏw «©)ˆ^	H±_éîJSñéV??Y?'?h9VÛÇdOþK‘S…Ï? ?Ž¥îUóYQÕCÿ??]k%WÄô?|??4}òã3_ûWÈß?I?4¬oÄG1Q
-¹M?q×HÐ¸?Ší?0?Ip?:t"?ëP,ío?D??Ý@}Pû_¨_a?ÒØöd¸®š¼ùY?ªÏ?ßú‘àz778c??qaÄÃ-³±#qu?lø©BÕ¢?`¥z²G?ÄÅn?5£hx\t>4ÑÔzœ@}ëù…íUt?#EõÄ?ä¸G¬¢????ÖU¤¿æÖ°êJV•¦éRH±IB?UbúhÑ]ãød8Qk›Ï?ÐJ›Ç??µu»Q???O•AQp4_+R~h?åñîKÿ?ó³X®nÎc,ÊYG#????êb?&?óªl¡îkÃd?ï³“²?C?ÚXC
Ìmˆñî´¸í¸¥1±j?ªF?+˜ß¸·=fŽOkERÜBö??[ìG…õ?<K?ýð?G?n?}G?×]?'Cn¡I+K‡`&?ç^ÕÔ?u7@¿¸7i¡°Ó§?DL?ð§$??&•¥Õº q?ÛzÓÂÞ¹??Û¯j®¿Ëä_“kþïÌ³JT?arH?5a”Ä?Súª¸ÕWºÚ‡Lw???¥¾·ÁB·\?A F?Q+)YP¸Ðin×Ö£?eÖNà}@›õ??SXÆ½†øw?Ôän_??:{ŸW§Ç¥íT¥·?ZÓÕûWà^Q¥¥ÒÒQ??­¬N¶«?äz?ˆHqHoam?ßCR*gTÔm?$?ÒÈH¸ÔÑì+¹QßZ?F?G…üüj­Mp‘µI)^?n¥¿‡Mzüh??Zu¬»iJ?}?
?dÇíØ]*­í?'·ì-???w?•\càn??A?$)@)ºl‘å§K?T?@?S©é@J?J›õ?mb	íð¡ÓRO?{X?økC¥i?3Ž´
Xa¾eÈT€¡bJZ|¢ÖÓªT·^lÕm­ûjM¥ºa?,BXMÿ2??RÈc?T?©_´­v k?z©ÚY©UÀÃ!fL?s??! ÿ?íÖ Þ?šIyN?í¥"?MGõ½J?r"Xr©ùÉ²[l:¯¥a±uíõÐu¹ªé­?}µHÙÏ¹gÁb?+Èñ°¤11ð?²í—¹???Wøj?InUÛâ³´?cN’Ìùl.%žDy??;5¤c¢´?EÛ÷^p”ô	@>b£{E"	âÆžYêSÉjvaqpøö#
¬tVHb(
?òÜ¤u&ýMÉîk‰B}M?æxÆó|;‘b–BŒ¨2¢u¥¥ÛöQ¾ÅØÜY"??ŸÌB?t6?¢÷ mß¥@?¥èpÔöŒº|¯Ý@}tâñ?ì¯`??È¡Úàè}°½µü…Mÿ¬Ë†b~?Äâ¬¥(?—sqíEB??µëTdZd³ób2âøïóuŸûÌ¤·²?é«ŽÝ???¸öÉlûºx%?~?ymZ????Ò´Ì©0?ŽYIQl?)W€¿ì¨Y?@*4??Ü£??
†Ì½êŠcîc?9WZÄã˜l„ÆÐ­nûå,·§]S•jm??ñpÅ¼??7þ@…cT‰x?ÁqN?‹­IlZT£kF•E~ceß´??%BŽýÎÀ?F/Žå\?C®ä:‡Õ?n¡§ãZ©ä??·¬?$v
7nE??KÏ¿
?H?!QÜ½Çqz?qD¿ì`Ëq,?÷Û’ã
R„ex?R¿È?¨Û©®JæÃ?òU?Q?Ìà,???h@j_ˆÛ?þpâ[¶µ%eý_a?ÿ¢~?Ôîw??á¯?VR?ý¡ÌLf”U?è¸?^ýMuÛû¾Â?J???üw”K3¾Þ¾ëp¢[áÏ%%?	AEÒÏ?}:?m¶¼/ŽU?~{øù"ynH¸B>èý?n^çB?‡ho™©?r)xã·ñð7ÿ?6?_u>?JFÖR?æTUõºÓ«???ývõý9NX?ýGíÉKš¶¹¸m½ì?é×ýËÐï?ŽÞ¿¡?“æù¾êý¸h)w@[kUÇ`O?uÿr??Ço_ÐÖyVY.€Ÿ»nI6
O²®š^ß÷ýi×ýÈï?ŽÞ¿¡?—å’ó@ýÍûq>Ê¿ê{‘Éÿ/¦j?4W×æDì·ñð#Q³Ù?–}6[íô??@h1?“¹Ïz?s¶I
½ê=^+rÇE/K|¿ÇÄ»?þâ%©jÆx?veÍ»ôÅ{M‚PÜosÏ­Z¼wXøõyB2sñØ?’s¾e?;€•âpùt?Cn+?=IMïåQmogèÉ*?¥\>-o??pqS?¿äf1[Z?ŠQ}ÀiníQpBJ¯}/qEt×Í???Kÿ/?µËT–¬>ôð??—Ç?N?w?G?R?x?›õXäù5?û±?d?ª?»×ýÈ‹Åÿ?B?—ä1C—ý??ç­ÄnzCeN¥j	p?¿Ó6Ó÷?¼VåÎª~[|¿ÂÛrßN[?­Äd>?\MÒ¯æS[ÒÞ:UO?ºSúo?mO?P?Ãð¹Ä??3) ›÷+eVÙ~:qÿ?"???ZU{–ùE?‹Þ»î?¹ÛÑ~b{!?)Fß·X?IJy`o???S?ÿ©ú~£s¹Þ~?ilRåÒ69E›èuÞÊ4£µ?S?ÿ©ú
?sÒèm_k_²E??«ëm.”ÔzíË?ô±ÇÍ?¬NWË_Ç?n2n?#?G´-?Åv*^§¹éU+¹Û?[Tû¸%·ñ¸û˜æ\?µýµËEl,€]?Jv¦Á[?6=?wx):Z~?7Î]CòG	„ðybÎÅL?›]H
?
H7Z³|‹mZÌkèn??È±prñ°Ø¶ý¢÷ÐGš©’Ö¨mB?u$êo?µWKjI?ÍDÁ`òÙ?¶ãC?v?![ZKËô·sÔÙDiÞ¥{Bl?z?Mñhïg?¸Ù.O?/$­øÆG?­J–ç´·?)_
?+?æÉÒ÷Kíd?ñ^EŠÍ?Âð????æBau.%I»Î?t‘¢¬|jËÕôðErUÚ}ÏÍ??ãh?nFo7??ReÌ´??J?QmÇB[h{\?ÐW3V —m~®§	/J$²¦±ÈuDºê[JP<6@?“ZU???¶ÔA&K©PµÅöè>õ]??L???žÏ@R6.&FKe·ê?aªQ®Û±£À\u?1íÒ?izå§?@ùéC‡Ù6â®?<7’¤;??YE\þB??IuÇaq¨l€ã§>J?b7EK ;S?)KÝgâ¾òfa´Ö5?(ŒÃl?·¶€ž¿*?*ÏªMümÒî8ÇY?œT}z?Éý•ÜnQÌÊ-<?l
¯ÕWÂÃ??9V?qÜZuZã¾?‹©©S}Ïa?l:n??p'q­ô|@)NMT?]-Ÿå<?V??‡îÉe:??`›Öu?÷©é^/-#?¶ë9HçbÀô?
??ElÇmO+=_O‘e+rÑi?€(?âÝ«ÌS'je;d­R]B?¸ƒ§†µ?eu®çr^qWÜV?¸êZ???L,˜r3*?	??umW?ºÂZ¢¾ãX?›öáÕAˆéOq;LvU¡T[J{Uuþ_#FG?q`?ÇAÜx?(§hZ±ñM?õo¥ê?¾gr1?›l3‰Ç"?áÇ_Ejd1•©*8\s?eáF·ËôèrYÎæ@J°xáêOÑÇ?§BI¾f??ä8â¤ëq
?þ]?R0?^I“Ç0?NÒ§ ÇP±írÝpì¸Ü¬ãÜEäAm|cð{î{èstÀll:JE????i©·?òIy?Ü}»SŽÏ3eíJ?H
?L?;oW??W?n§êL#ñü8???¤X?†ÂWø®>wÖ¤ÒOB‡gm?+?æÔÛf??H7úh>T²¶eÖÐOÐCi Xh‘åm½M@ÒÂ1?5^¤¥VEáF=ÇK?eQ+ñæÚ?q?ýÐl?|SúO-¿J?G¯¥U?+=5þBËw„ð??v?±ÇEÿú}*È\ŒßRÜß???¡a\#¥Ò­±AÿHé\‰}\‹ùŸ«8¥}³ûpâP“Â?.Hm?šh?üë??¬ù?©ú²¾×}?·»…ã’J5²¤?ôÚðÒ¸é^H•säþ?=öÏ?O?<":å¶?„æ?:?¿ÓÊ¡ôëÈ¹gÉÌfk?>ì§?¦S??A>Óm$??@mCé­t'þE?V\w?u??|¶cñÏ?´¼¤õn?–¥?|?£·sssU?èi¾V¶|G)o?r3+?9s®Fz|×ã:nK¯©7ÞÇ½E?VKC?§íÿN,²¾#‰uE 6â[Pr?‘î®¥F?ub??¥º·aÃqìF+2ó|ãÄ!ÔÇl?b1?Ú£U?¯i¯¹?J>o=ŒG(”Î
i*Òv¬}G?gP“®Þ£ã\»êp‰c§E?äÄ?ŒÑZ??'v?{Öª(G??²Á§_ÆE

% (§S¡Ýb{ô¥?II??õÜ?+J:q' ÞtÝáp:U9u¹§·öâo˜ý’m&Œ´
ÞCwS?\?R{Ñû?¾v?ØQ;\+A¾¡JlkøÕO‰¡p>[ýÛƒôq?E%%çZ{\ºØRãz?/??ÖýMÍt??|
w-¤hwºÚuéª€?n}U?àø?Æg-??6!KBr||îJF??¡}Žä?¬²öñ?ÕÎGò¿??[P?iý·?‘ßj?0Ý[W>†K­ZçoÀ±?¨°?ûÏˆ©35F¼Z??ïdÌl8‘þtØk•ÒÄò{??÷A?Ü¨SÖ¬±Jæ~²U??[??Kj §ùêÄ~=•oM?@&öS¶”tøÕ67`?çy[œÙ?XCÊDö}£b­ì ©zk?µ¼?&çò–¿?¨x??4??gÜv_È´±Ûµ]F?êÜø£ÐÁHK?Îá?ƒ®Ëô=´ëzØyPw))Ûk[r¯~???ÔR?FßI$ƒ×áû+‡D?ãOJl¢¸?wzÔÒB??R?í¢4)G	}6?YÈÀ?…^«È?kþäZ)u·V?¬á·n½õ«Lo	l?iÐÜÖç°¡?Ø°N?°@WBzé@?HI
°¹½è¿P)z€€ƒ{éC?J”T
‡¸,?§qàht??¿aÔ¡?G?Bt?rF§¥·kj¥¯¼Ú?ÀôZEÑïíÞ?®ºXZçdÜznKŠ½™úD¡V
6êt??HPC??]HQ?H?âº¡²S? ò=?“¹
ÙÚÒw\t~T8VÙG=?6??;?6>?§ÍUU¸ù£MVßµ?˜¥“¼¬hU??yÕ¦cBKk?Q²»u?Y)X??:Pé©q?%?u^?¦ºkjãGS#?¼å€!¡¸Û§Z‰j?þK%Q8??½¬?ûh6­M)!D?¡P???2ãü?*,Œv;ŠÝßô"—^JmkØ¸‘çTxyztO???U$…¥@ìa?¥n²zhzt¥¼NA"R=ˆek	G¾}?A)BF€vfÈªfÅ]?îãa?rD?R?q?M€A2¤§?#?ß©ZTYšq?›þÔbRô×e¶ÜZ½¦Øl?_ÒP’I×Ä’£ÕF?5âs»¾?éÇ?m{wlN©¿?¥¸<Ô¤`%Çs?\ºZ?åý#ÖÛ?âE?-#"q?.i?AS1S?k\w?RœÝ³C]?2œ÷y?TëE'hîG\??n)¯æŠ_??©J==D&çàQcb???ãý?%M[ÊBeøé?)MÿUWÄÓ?"‹µ¨rÿ?@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.team .team-item .details h4{
		font-size: 18px;
	}
	.team .team-item .overlay{
		padding: 20px 15px;
	}
	.team .team-item .overlay span{
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 1199px) {
	header .main-menu ul li a{
		padding: 35px 10px;
	}
	.portfolio .portfolio_item {
	    width: 32.3%;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.navbar-header{
		width: 100%;
    	text-align: center;
	}
	header .main-menu .navbar-brand{
		display: inline-block;
    	float: none;
	}
	header .main-menu ul li a{
		padding: 35px 8px;
	}

	.header-single{
	    margin-top: 150px;
	}
}
@media only screen and (max-width: 991px) {
	.about-us .about-image{
		margin-bottom: 30px;
	}
	.about-us .about-image img{
		width: 100%;
	}
	.portfolio .portfolio_item {
	    width: 31.9%;
	}
	.pricing .pricing-item h3{
		font-size: 26px;
	}
	.pricing .pricing-item h2{
		font-size: 46px;
	}
	.contact-us .contact-submit{
		margin-bottom: 50px;
	}
	.team .team-item{
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	header .main-menu .navbar-header{
		min-height: 90px;
	}
	header .main-menu .navbar-toggle{
		margin-top: 26px;
	}
	header .main-menu .navbar-toggle .icon-bar{
		background-color: #fff;
	}
	header .main-menu .navbar-collapse{
		max-height: 220px;
	}
	header .main-menu .navbar-brand {
	    padding: 30px 15px;
	}
	header .main-menu ul li a{
		padding: 10px 15px;
	}
	header .main-menu .menu-cart > span{
		margin: 10px 15px;
	}
	header .main-menu .menu-button{
		margin: 10px 15px;
	}
	.portfolio .portfolio_item {
	    width: 31.6%;
	}
	.single_post .post_content{
		padding: 20px;
	}
	.single_post .post_content h3{
		font-size: 24px;
	}
	.post_comment ul li ul{
		margin-left: 60px;
	}
	.post_comment .comment_input:first-child, .post_comment .comment_input:nth-child(2){
		width: 100%;
		float: initial;
	}
	footer p{
		margin-bottom: 20px;
	}
	footer ul{
		float: initial;
	}
}
@media only screen and (max-width: 680px) {
	.portfolio .portfolio_item {
	    width: 48.4%;
	}
	.single_post .post_content .post_tags{
		float: initial;
		margin-bottom: 20px;
	}
	.single_post .post_content .post_share{
		float: initial;
	}
}
@media only screen and (max-width: 480px) {
	.portfolio .portfolio_item {
	    width: 100%;
	}
	.blog .blog-item .content{
		padding: 15px;
	}
	.single_post .post_content blockquote{
		padding: 10px;
	}
	.single_post .post_content blockquote:after{
		display: none;
	}
	.single_post .post_content{
		padding: 10px;
	}
	.single_post .post_content h3{
		font-size: 17px;
	}
	.post_comment ul li ul{
		margin-left: 30px;
	}
	.post_comment .profile-image{
		height: 60px;
		width: 60px;
		margin-right: 10px;
	}
}
